@import 'helper';
@import 'color';

/* table */
.gt-table {
	display: table;
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ccc;
	
	th, td {
		display: table-cell;
		text-align: left;
	}

	th {
		padding: 1em 1em;
	}

	td {
		padding: 0.8em 1em;
	}

	&.gt-table-center tr th, &.gt-table-center tr td {
		text-align: center;
	}
	
	&.gt-table-border {
		th, tr, td {
			border-bottom: 1px solid $gray-ddd;
			border-left: 1px solid $gray-ddd;
		}
	}

	&.gt-table-horizontal {
		th, tr, td {
			border-bottom: 1px solid $gray-ddd;
			border-left: none;
		}
	}
	
	&.gt-table-stripe tbody tr:nth-child(odd) {
		background-color: $gray-eee;
	}
}