/* Helper */

//skip navigation
.gt-skip-navigation .gt-skip-link { position:absolute; top:-10000px; left:0; z-index:10000; background:#333; text-align:center; color:#fff; padding:10px; font-size:12px }
.gt-skip-navigation .gt-skip-link:focus { top:0 }

//accessibility
.gt-screen-out { overflow:hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px }

//float
.gt-float-left, .gt-f-l { float:left!important }
.gt-float-right, .gt-f-r { float:right!important }
.gt-float-none { float:none!important }

//position
.gt-relative { position:relative!important }
.gt-absolute { position:absolute!important }

//text-align
.gt-align-left { text-align:left!important }
.gt-align-right { text-align:right!important }
.gt-justify { text-align:justify!important }
.gt-center { text-align:center!important }
.gt-bold { font-weight:bold!important }

//vertical
.gt-vertical-top { vertical-align:top!important }
.gt-vertical-middle { vertical-align:middle!important }
.gt-vertical-bottom { vertical-align:bottom!important }

//display
.gt-block { display:block!important }
.gt-inline { display:inline!important }
.gt-inline-block { display:inline-block!important }
.gt-hide { display:none }

//text-size
.gt-tiny { font-size:12px!important }
.gt-small { font-size:14px!important }
.gt-medium { font-size:16px!important }
.gt-large { font-size:24px!important }
.gt-xlarge { font-size:32px!important }
.gt-xxlarge { font-size:40px!important }
.gt-xxxlarge { font-size:40px!important }
.gt-huge { font-size:64px!important }

//border
.gt-border-none, .gt-border-0 { border:0!important }
.gt-border-top-none, .gt-border-top-0 { border-top:0!important }
.gt-border-bottom-none, .gt-border-bottom-0 { border-bottom:0!important }
.gt-border-right-none, .gt-border-right-0 { border-right:0!important }
.gt-border-left-none, .gt-border-left-0 { border-left:0!important }
.gt-border { border:1px solid; border-color:#ccc }
.gt-border-top { border-top:1px solid; border-color:#ccc }
.gt-border-bottom { border-bottom:1px solid; border-color:#ccc }
.gt-border-left { border-left:1px solid; border-color:#ccc }
.gt-border-right { border-right:1px solid; border-color:#ccc }

//round
.gt-round-none, .gt-round-0 { border-radius:0!important }
.gt-round-small { border-radius:2px!important }
.gt-round, .gt-round-medium { border-radius:4px!important }
.gt-round-large { border-radius:8px!important }
.gt-round-xlarge { border-radius:16px!important }
.gt-round-xxlarge { border-radius:32px!important }
.gt-circle { border-radius:50%!important }

//Clear
.gt-clear {
  &:before,
  &:after {
    display: block;
    content: " ";
    clear: both;
  }
}

//Etc...
.gt-image { max-width:100%!important }
.gt-rest { overflow:hidden!important }

//Margin, Padding
$space-values : (
  0,
  3,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50
) !default;

// margin and padding shorthands
$space-prefixes : (
  gt-p  : padding,
  gt-pt : padding-top,
  gt-pr : padding-right,
  gt-pb : padding-bottom,
  gt-pl : padding-left,
  gt-m  : margin,
  gt-mt : margin-top,
  gt-mr : margin-right,
  gt-mb : margin-bottom,
  gt-ml : margin-left,
) !default;

@mixin make-spaces() {
  @each $attr-short, $attr-long in $space-prefixes { 
    @each $value in $space-values {
      .#{$attr-short}-#{$value} {
        #{$attr-long}: #{$value}#{'px'};
      }
    }
  }
}

@include make-spaces();