.about {
  .img-contents {
    .service-slogan {
      .img-wrap {
        .approval_service {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/approval_service_lg.png') 50% 50% / contain no-repeat;
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/approval_service_lg.png') 50% 50% / contain no-repeat;
          width: 1213px;
          height: 550.5px;
          margin: 0 auto;
        }
        .approval_service2 {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/approval_service2_lg.png') 50% 50% / contain no-repeat;
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/approval_service2_lg.png') 50% 50% / contain no-repeat;
          width: 958px;
          height: 540px;
          margin: 0 auto;
        }
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .approval_service {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/approval_service_md.png') 50% 50% / contain no-repeat;
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/approval_service_lg.png') 50% 50% / contain no-repeat;
            width: 606.5px;
            height: 275.25px;
          }
          .approval_service2 {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/approval_service2_md.png') 50% 50% / contain no-repeat;
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/approval_service2_lg.png') 50% 50% / contain no-repeat;
            width: 479px;
            height: 270px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .approval_service {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/approval_service_sm.png') 50% 50% / contain no-repeat;
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/approval_service_sm.png') 50% 50% / contain no-repeat;
            width: 300px;
            height: 237px;
          }
          .approval_service2 {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/approval_service2_sm.png') 50% 50% / contain no-repeat;
            width: 344px;
            height: 236px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
