.about {
  .img-contents {
    .service-slogan {
      .img-wrap {
        .archive_service {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/archive_service_lg.png') 50% 50%/contain no-repeat;
          width:  932px;
          height:  540px;
          margin: 0 auto;
        }
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .archive_service {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/archive_service_md.png') 50% 50%/contain no-repeat;
            width: 466px;
            height: 270px;
          }
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .archive_service {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/archive_service_sm.png') 50% 50%/contain no-repeat;
            width: 300px;
            height: 237px;
          }
        }
      }
    }
  }
}
