.about {
  .img-contents {
    .service-slogan {
      .img-wrap {
        .board_share {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/board_share_lg.png') 50% 50%/contain no-repeat;
          width: 1218px;
          height: 681px;
          margin: 0 auto;
        }
        .board_team {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/board_team_lg.png') 50% 50%/contain no-repeat;
          width: 1107px;
          height: 540px;
          margin: 0 auto;
        }
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .board_share {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/board_share_md.png') 50% 50%/contain no-repeat;
            width: 609px;
            height: 340.5px;
          }
          .board_team {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/board_team_md.png') 50% 50%/contain no-repeat;
            width: 553.5px;
            height: 270px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .board_share {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/board_share_sm.png') 50% 50%/contain no-repeat;
            width: 344px;
            height: 237px;
            background-color: #FFF;
          }
          .board_team {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/board_team_sm.png') 50% 50%/contain no-repeat;
            width: 300px;
            height: 237px;
          }
        }
      }
    }
  }
}