.about {
  .img-contents {
    .service-slogan {
      .img-wrap {
        .messenger_business {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messenger_business_lg.png') 50% 50%/contain no-repeat;
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/messenger_business_lg.png') 50% 50%/contain no-repeat;
          width: 1214px;
          height: 690px;
          margin: 0 auto;
        }
        .messenger_onoff {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messenger_onoff_lg.png') 50% 50%/contain no-repeat;
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/messenger_onoff_lg.png') 50% 50%/contain no-repeat;
          width: 1204px;
          height: 741px;
          margin: 0 auto;
        }
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .messenger_business {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messenger_business_md.png') 50% 50%/contain no-repeat;
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/messenger_business_lg.png') 50% 50%/contain no-repeat;
            width: 607px;
            height: 345px;
          }
          .messenger_onoff {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messenger_onoff_md.png') 50% 50%/contain no-repeat;
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/messenger_onoff_lg.png') 50% 50%/contain no-repeat;
            width: 602px;
            height: 370.5px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .messenger_business {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messenger_business_sm.png') 50% 50%/contain no-repeat;
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/messenger_business_sm.png') 50% 50%/contain no-repeat;
            width: 300px;
            height: 237px;
          }
          .messenger_onoff {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messenger_onoff_sm.png') 50% 50%/contain no-repeat;
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/messenger_onoff_sm.png') 50% 50%/contain no-repeat;
            width: 344px;
            height: 236px;
          }
        }
      }
    }
  }
}