.about {
  .img-contents {
    .service-slogan {
      .img-wrap {
        .messaging_send {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messaging1_lg.png') 50% 50%/contain no-repeat;
          width: 1039px;
          height: 550px;
          margin: 0 auto;
        }
        .messaging_use {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messaging2_lg.png') 50% 50%/contain no-repeat;
          width: 1020px;
          height: 550px;
          margin: 0 auto;
        }
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .messaging_send {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messaging1_lg.png') 50% 50%/contain no-repeat;
            width: 519px;
            height: 275px;
          }
          .messaging_use {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messaging2_lg.png') 50% 50%/contain no-repeat;
            width: 510px;
            height: 275px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .messaging_send {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messaging1_sm.png') 50% 50%/contain no-repeat;
            width: 344px;
            height: 236px;
          }
          .messaging_use {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/messaging2_sm.png') 50% 50%/contain no-repeat;
						width: 344px;
            height: 236px;
          }
        }
      }
    }
  }
}
