.about {
  .img-contents {
    .service-slogan {
      .img-wrap {
        .mobile-communication {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/mobile_communication_lg.png') 50% 50%/contain no-repeat;
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/mobile_communication_lg.png') 50% 50%/contain no-repeat;
          width: 1221px;
          height: 653.5px;
          margin: 0 auto;
        }
        .mobile-connect {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/mobile_connect_lg.png') 50% 50%/contain no-repeat;
          width: 714px;
          height: 616px;
          margin: 0 auto;
        }
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .mobile-communication {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/mobile_communication_md.png') 50% 50%/contain no-repeat;
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/mobile_communication_lg.png') 50% 50%/contain no-repeat;
            width: 610px;
            height: 326.7px;
          }
          .mobile-connect {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/mobile_connect_md.png') 50% 50%/contain no-repeat;
            width: 357px;
            height: 308px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .mobile-communication {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/mobile_communication_sm.png') 50% 50%/contain no-repeat;
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/about/mobile_communication_sm.png') 50% 50%/contain no-repeat;
            width: 300px;
            height: 237px;
            width: 343px;
            height: 192px;
          }
          .mobile-connect {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/mobile_connect_sm.png') 50% 50%/contain no-repeat;
            width: 300px;
            height: 237px;
          }
        }
      }
    }
  }
}