.about {
  .img-contents {
    .service-slogan {
      .img-wrap {
        .videoconference {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/videoconference_messenger_lg.png') 50% 50% / contain no-repeat;
          width: 940px;
          height: 720px;
          margin: 0 auto;
        }
        .videoconference2 {
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/videoconference_app_lg.png') 50% 50% / contain no-repeat;
          width: 1036px;
          height: 652px;
          margin: 0 auto;
        }
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .videoconference {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/videoconference_messenger_lg.png') 50% 50% / contain no-repeat;
            width: 470px;
            height: 360px;
          }
          .videoconference2 {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/videoconference_app_lg.png') 50% 50% / contain no-repeat;
            width: 518px;
            height: 326px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .about {
    .img-contents {
      .service-slogan {
        .img-wrap {
          .videoconference {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/videoconference_messenger_sm.png') 50% 50% / contain no-repeat;
            width: 100%;
            height: 240px;
          }
          .videoconference2 {
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/about/png/videoconference_app_sm.png') 50% 50% / contain no-repeat;
            width: 100%;
            height: 217px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
