.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.bg-primary {
  background-color: #2985db !important; }

.bg-orange {
  background-color: #f66b06 !important; }

.bg-white {
  background-color: #fff !important; }

.bg-black {
  background-color: #000 !important; }

.text-primary {
  color: #2985db !important; }

.text-orange {
  color: #f66b06 !important; }

.text-white {
  color: #fff !important; }

.text-black {
  color: #000 !important; }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: flex !important; }

.d-inline-flex {
  display: inline-flex !important; }

.align-baseline {
  vertical-align: baseline !important; }

.align-top {
  vertical-align: top !important; }

.align-middle {
  vertical-align: middle !important; }

.align-bottom {
  vertical-align: bottom !important; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.w-25 {
  width: 25% !important; }

.w-50 {
  width: 50% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

.w-auto {
  width: auto !important; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important; }

.c-hand {
  cursor: pointer !important; }

.c-move {
  cursor: move !important; }

.c-zoom-in {
  cursor: zoom-in !important; }

.c-zoom-out {
  cursor: zoom-out !important; }

.c-not-allowed {
  cursor: not-allowed !important; }

.c-col-resize {
  cursor: col-resize !important; }

.c-auto {
  cursor: auto !important; }

.loading {
  color: transparent !important;
  min-height: 1em;
  pointer-events: none;
  position: relative; }
  .loading::after {
    animation: loading 500ms infinite linear;
    display: block;
    content: "";
    width: 2em;
    height: 2em;
    margin-left: -1em;
    margin-top: -1em;
    border: 3px solid #2985db;
    border-right-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.m-10 {
  margin: 10px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mx-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.p-10 {
  padding: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.px-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.truncate-200 {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*# sourceMappingURL=style.css.map */
