$education-primary-color: #676767;
.education-apply {
  padding-top: $headerHeight;
  color: $education-primary-color;

  // slogan
  .slogan-section {
    padding: 60px 0 40px;
    color: #333;
    font-size: .875rem;
    @include respond-above(sm) {
      padding: 30px 0 50px;
    }
    @include respond-above(md) {
      padding: 40px 0 50px;
      font-size: 1rem;
    }
    .title {
      font-size: 1.5rem;//24px
      margin-bottom: 60px;
      text-align: center;
      font-weight: bold;
      @include respond-above(sm) {
        font-size: 2rem;//32
      }
      @include respond-above(md) {
        font-size: 2.250rem;//36
      }
    }
    .notice-title {
      font-weight: bold;
      @include respond-above(sm) {
        font-size: 1rem;//18
      }
      @include respond-above(md) {
        font-size: 1.125rem;//18
      }
    }
    .notice-conts {
      margin-top: 20px;
      color: $education-primary-color;
      li:not(last-child) {
        padding-bottom: 8px;
      }
    }
    .history {
      margin-bottom: 20px;
      @include respond-below(sm) {
        display: none;
      }
    }

    .list-dot > li:before {
      color: $education-primary-color;
    }
    .list-dot + p {
      color: $education-primary-color;
    }
  }

  // form
  .apply-section {
    .hw-form-row,
    .text__required-fields,
    .hw-input-wrap .hw-input,
    .content-submit-div {
      font-size: .875rem;
      @include respond-above(sm) {
        font-size: inherit;
      }
    }
    .hw-form-row + .hw-form-row {
      margin-top: 30px;
    }
    .hw-input {
      color: $education-primary-color;
    }
    .content-submit-div {
      margin-top: 60px;

      .hw-pill-button {
        margin-top: 40px;
        @include respond-above(md) {
          margin-top: 80px;
        }
      }
    }
    .text__required-fields {
      margin-bottom: 40px;
      @include respond-above(sm) {
        font-size: 1rem;
      }
      @include respond-above(md) {
        margin-bottom: 50px;
      }
    }
    @include respond-above(sm) {
      .size-basic-min {
        min-width: 300px;
      }
      .size-basic {
        width: 300px;
      }
      .size-name {
        max-width: 440px;
      }
      .size-email {
        max-width: 610px;
      }
    }
    .edupath {
      & + .edupath--input {
        margin-top: 5px;
      }
      @include respond-above(sm) {
          float: left;
          margin-right: 10px;
          & + .edupath--input {
            float: left;
            width: 300px;
            margin-top: 0;
          }

      }
    }
  }
  .file-attach {
      position: absolute;
      opacity: 0;
  }
  // input[type=radio]:checked + label {
  //     color: #2f58b8;
  // }
}
