@mixin absoluteCenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

//! 1280 ~ 1920
.wrap {
  .education {
		padding-top: $headerHeight;
		.main-slogan {
			height: 270px;
			.slogan-wrap {
				@include absoluteCenter();
				.main-tit {
					font-size: 42px;
					font-weight: 800;
					margin-bottom: 10px;
				}
				.sub-tit {
					font-size: 18px;
					font-weight: 600;
					word-break: keep-all;
				}
			}
		}
		.bg-contents {
			height: 259px;
			background:url(https://static.hiworks.com/www/static/images/www.hiworks.com/education/bg.png) center center no-repeat;
			background-size: cover;
			.slogan-wrap {
				@include absoluteCenter();
				color: #fff;
				.main-tit {
					font-size: 28px;
					font-weight: 800;
					margin-bottom: 10px;
				}
				.sub-tit {
					font-size: 18px;
					font-weight: 600;
					word-break: keep-all;
				}
			}
		}
		.free-contents {
			height: 259px;
			background:url(https://static.hiworks.com/www/static/images/www.hiworks.com/education/bg_free.png) center center no-repeat;
			background-size: cover;
			@include respond-below(md) {
				background-image: none;
				background-color: #261f18;
				opacity: 0.6;
			}
			.slogan-wrap {
				@include absoluteCenter();
                width: 100%;
				color: #fff;
				.main-tit {
					font-size: 28px;
					font-weight: 800;
					margin-bottom: 10px;
				}
				.sub-tit {
					font-size: 18px;
					font-weight: 600;
					word-break: keep-all;
				}
			}
		}
		.method {
			padding: 80px 0 100px;
			.apply-button {
				margin-top: 80px;
			}
			.rwd-container {
				max-width: 1040px;
			}
			.main-tit {
				font-size: 24px;
				font-weight: 600;
				border-bottom: 1px solid #bcbcbc;
				padding-bottom: 15px;
				margin-bottom: 25px;
				&.no-border {
					padding: 60px 0 0;
					border: none;
				}
			}
			.method-list {
				font-size: 18px;
				font-weight: 600;
				.item {
					padding: 8px 0;
					@include clearfix();
					.terms {
						float: left;
						@include respond-above(sm) {
							width: 100px;
						}
						@include respond-above(md) {
							width: 110px;
						}
					}
					.desc {
						float: left;
						display: inline-block;
						margin-left: 25px;
						font-weight: normal;
					}
				}
			}
			.method-contents {
				.cube {
					height: 180px;
					background: url(https://static.hiworks.com/www/static/images/www.hiworks.com/education/cube.svg) 0 0 no-repeat;
					.text {
						display: inline-block;
						padding: 35px 20px;
						font-size: 18px;
						width: 215px;
						word-break: keep-all;
					}
				}
				.column {
					width: 25%;
					height: 180px;
					float: left;
					.box {
						background: khaki;
						width: 230px;
						height: 180px;
						background: url(https://static.hiworks.com/www/static/images/www.hiworks.com/education/cube.svg) 0 0 no-repeat;
						.text {
							display: inline-block;
							padding: 35px 20px;
							font-size: 18px;
							width: 215px;
							word-break: keep-all;
						}
					}
				}
				@include clearfix();
			}
		}
		.apply-now {
			padding: 100px 0;
			background: #E8F2F8;
			.rwd-container {
				max-width: 1040px;
				.main-tit {
					font-size: 28px;
					font-weight: 600;
				}
				.apply-list {
					padding: 50px 0 0;
					.item {
						@include clearfix();
						display: flex;
						align-items: center;
						margin-bottom: 30px;
						position: relative;
						.circle {
							float: left;
							width: 120px;
							height: 120px;
							line-height: 120px;
							background: #fff;
							border-radius: 50%;
							font-size: 18px;
							text-align: center;
						}
						.arrow {
							position: absolute;
							left: 52px;
							bottom: -32px;
							font-size: 18px;
							color: #bed1dc;
						}
						.contents {
							float: left;
							font-size: 18px;
							margin-left: 50px;
							width: calc(100% - 170px);
							word-break: keep-all;
							.link {
								color: #2f58b8;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
		.visiting-education {
			padding: 100px 0;
			background: #F6F6F6;
			.rwd-container {
				max-width: 1040px;
			}
			.main-tit {
				width: 84%;
				margin: auto;
				font-size: 42px;
				font-weight: 800;
				text-align: center;
				word-break: keep-all;
			}
			.item-list {
				margin-top: 60px;
			}
			.item {
				display: flex;
				align-items: center;
				background: #fff;
				width: 100%;
				margin-bottom: 24px;
				padding: 35px;
				@include clearfix();
				.contents {
					margin-left: 50px;
					.sub-tit {
						font-size: 24px;
						word-break: keep-all;
						.highlight {
							background: #d4e7f8;
							font-weight: 600;
						}
					}
					.desc {
						font-size: 18px;
						margin-top: 20px;
						word-break: keep-all;
					}
				}
			}
		}
		.customer-service {
			padding: 100px 0;
			text-align: center;
			.main-tit {
				font-size: 42px;
				font-weight: 800;
				margin-bottom: 10px;
			}
			.sub-tit {
				font-size: 18px;
			}
			.item-list {
				margin-top: 60px;
				.item {
					display: inline-block;
    			padding: 0 30px;
					.info-text {
						font-size: 18px;
						margin-top: 5px;
					}
					& +.item {
						border-left: 1px solid #d0d0d0;
					}
					.svg {
						display: block;
						margin: 0 auto 20px;
						width: 40px;
						height: 40px;
					}
					.link {
						font-size: 18px;
					}
				}
			}
		}
  }
}

@include respond-below(lg) {
	.wrap {
	  .education {
			.main-slogan {
				height: 240px;
				.slogan-wrap {
					.main-tit {
						font-size: 36px;
					}
					.sub-tit {
						font-size: 18px;
					}
				}
			}
			.bg-contents {
				.slogan-wrap {
					.main-tit {
						font-size: 26px;
					}
					.sub-tit {
						font-size: 18px;
					}
				}
			}
			.method {
				.main-tit {
					font-size: 22px;
				}
			}
			.visiting-education {
				.main-tit {
					font-size: 36px;
					width: 72%;
				}
			}
			.customer-service {
				.main-tit {
					font-size: 36px;
				}
			}
	  }
	}
}

@include respond-below(md) {
	.wrap {
	  .education {
			.main-slogan {
				height: 234px;
				.slogan-wrap {
					.main-tit {
						font-size: 32px;
					}
					.sub-tit {
						font-size: 16px;
					}
				}
			}
			.bg-contents, .free-contents {
				.slogan-wrap {
					.main-tit {
						font-size: 26px;
					}
					.sub-tit {
						font-size: 16px;
						font-weight: normal;
					}
				}
			}
			.method {
				.method-list {
					font-size: 16px;
				}
				.method-contents {
					max-width: 600px;
					margin: auto;
					.column {
						width: 50%;
						&:nth-child(-n+2) {
							margin-bottom: 50px;
						}
						.box {
							margin: auto;
							.text {
								font-size: 16px;
								padding: 35px 30px;
							}
						}
					}
				}
			}
			.apply-now {
				.rwd-container {
					.apply-list {
						.item {
							.circle {
								width: 110px;
								height: 110px;
								line-height: 110px;
								font-size: 16px;
							}
							.arrow {
								left: 48px;
							}
							.contents {
								font-size: 16px;
								margin-left: 30px;
								width: calc(100% - 140px);
							}
						}
					}
				}
			}
			.visiting-education {
				.main-tit {
					font-size: 32px;
					width: 82%;
				}
				.item {
					display: block;
					text-align: center;
					.contents {
						margin: 0;
						.sub-tit {
							font-size: 22px;
						}
						.desc {
							font-size: 16px;
						}
					}
				}
			}
			.customer-service {
				.main-tit {
					font-size: 32px;
				}
				.sub-tit {
					font-size: 16px;
				}
				.item-list {
					.item {
						.link {
							font-size: 16px;
						}
					}
				}
			}
	  }
	}
}


//! ~768
@include respond-below(sm) {
  .wrap {
    .education {
			.main-slogan {
				height: 190px;
				.slogan-wrap {
					.main-tit {
						font-size: 24px;
					}
					.sub-tit {
						font-size: 14px;
						font-weight: normal;
					}
				}
			}
			.bg-contents, .free-contents {
				.slogan-wrap {
					.main-tit {
						font-size: 22px;
					}
				}
			}
			.method {
				.apply-button {
					margin-top: 50px;
				}
				.main-tit {
					font-size: 20px;
				}
				.method-list {
					font-size: 14px;
					.item {
						.terms {
							width: 100%;
							margin-bottom: 5px;
						}
						.desc {
							margin-left: 10px;
						}
					}
				}
				.method-contents {
					.column {
						width: 100%;
						&:nth-child(-n+3) {
							margin-bottom: 50px;
						}
						.box {
							.text {
								padding: 40px 35px;
								font-size: 14px;
							}
						}
					}
				}
			}
			.apply-now {
				.rwd-container {
					.apply-list {
						.item {
							.circle {
								width: 100px;
								height: 100px;
								line-height: 100px;
								font-size: 14px;
							}
							.arrow {
								display: none;
							}
							.contents {
								font-size: 14px;
								margin-left: 20px;
								width: calc(100% - 120px);
							}
						}
					}
				}
			}
			.visiting-education {
				.main-tit {
					font-size: 24px;
					width: 90%;
				}
				.item {
					padding: 35px 30px;
					.svg {
						display: none;
					}
					.contents {
						.desc {
							font-size: 14px;
						}
					}
				}
			}
			.customer-service {
				.main-tit {
					font-size: 24px;
				}
				.sub-tit {
					font-size: 14px;
				}
				.item-list {
					.item {
						.link {
							font-size: 14px;
						}
					}
				}
			}
    }
  }
}

// education + free
.education-case {
	.case-tab {
		.case-tab-nav {
			text-align: center;
		}
		.nav-item {
			display: inline-block;
			margin-bottom: 60px;
            font-size: 1.250rem;//20
            font-weight: 600;
            @include respond-above(sm) {
                font-size: 1.375rem;//22
            }
            @include respond-above(md) {
                font-size: 1.500rem;//24
            }
			color: #999;
			&:not(:first-child) {
				&::before {
					content: '';
					display: inline-block;
					width: 1px;
					height: 16px;
					margin: 0 34px -2px;
					background-color: #bcbcbc;
				}
			}
			&.nav-active {
                position: relative;
				color: #333;
                span {
                    display: inline-block;
                    background-image: -ms-linear-gradient(180deg, #fff 0%, #fff 60%, #cae6fe 60%, #cae6fe 60%, #cae6fe 90%, #fff 90%);
                    background-image: linear-gradient(180deg, #fff 0%, #fff 60%, #cae6fe 60%, #cae6fe 60%, #cae6fe 90%, #fff 90%);
                }
			}
		}
	}
}

.wrap {
  .education {
		.method.free {
			padding: 40px 0 60px;
			@include respond-above(sm) {
				padding: 60px 0 100px;
			}
			@include respond-above(md) {
				padding: 80px 0 100px;
			}
			.item {
				.item-conts {
					float: left;
					&.space-top {
						margin-top: 8px;
					}
				}
				.desc {
                    color: #676767;
					@include respond-below(sm) {
						width: 100%;
					}
					@include respond-above(sm) {
						margin-left: 0;
						&.clearboth {
							clear: both;
						}
					}
                    &.space-top {
						margin-top: 8px;
					}

				}
			}
			.terms {
				margin-bottom: 12px !important;
			}
			.sub-terms {
				float: left;
				padding-top: 12px;
				padding-left: 10px;
				@include respond-above(sm) {
					padding-left: 0;
				}
				&:nth-of-type(1) {padding-top: 0;}
				&.line::after {
					content: '';
					display: inline-block;
					width: 2px;
					height: 14px;
					margin: 0 12px -2px;
					background-color: #676767;
				}
			}
		}
		.map-cont {
			margin-top: 22px;
            @include respond-above(sm) {
                margin-top: 32px;
            }
			.root_daum_roughmap {
				width: 100% !important;
				border: none;
				.wrap_controllers {display: none;}
			}
			.map-info {
				padding-top: 8px;
				font-size: .875rem;
				color: #676767;
                @include respond-above(sm) {
    				font-size: 1rem;
				}
			}
		}
		.schedule {
			.rwd-container {max-width: 1040px;}
			.main-tit {
				margin-bottom: 12px;
				font-size: 1.250rem;//20
				font-weight: 600;
				@include respond-above(sm) {
					font-size: 1.375rem;//22
				}
				@include respond-above(md) {
					font-size: 1.500rem;//24
				}
			}
			.sub-tit {
				font-size: .875rem;//14
				color: #676767;
				@include respond-above(sm) {
					font-size: 1rem;//16
				}
				@include respond-above(md) {
					font-size: 1.125rem;//18
				}
			}
			.item {
				&-row {
					margin: 20px 0;
					@include respond-above(sm) {
						margin: 30px 0;
					}
					@include respond-above(md) {
						margin: 40px 0;
					}
					.rwd-col:not(:first-child) {
						.item-box {
							@include respond-below(sm) {
								margin-top: 14px;
							}
							@include respond-above(sm) {
								margin-left: 14px;
							}
						}
					}
				}
				&-box {
					padding: 30px 0;
					background: #fff;
					border: 1px solid #dbdbdb;
					border-radius: 8px;
					text-align: center;
					@include respond-above(md) {
						padding: 40px 0;
					}
					.name {
						margin-bottom: 15px;
						font-weight: 600;
                        @include respond-above(md) {
							font-size: 1.125rem;//18
						}
					}
					.datetime {
						padding: 5px 0;
						font-size: .875rem;//14
						color: #676767;
						@include respond-above(sm) {
						}
						@include respond-above(md) {
							font-size: 1rem;//16
						}
					}
					.btn--app-free {
						display: inline-block;
						margin-top: 20px;
                        padding-right: 40px;
                        padding-left: 40px;
						font-size: .875rem;//14
						height: 52px;
						line-height: 50px;
						@include respond-above(sm) {
						    margin-top: 30px;
						}
						@include respond-above(md) {
						    margin-top: 40px;
                            font-size: 1rem;//16
						}
					}
				}
			}
		}
		.program {
            margin: 40px 0 60px;
            @include respond-above(sm) {margin-top: 70px;}
            @include respond-above(md) {margin-bottom: 100px;}
            // @include respond-above(lg) {
            //     margin-top: 90px;
            //     margin-bottom: 120px;
            // }
            .rwd-container {max-width: 1040px;}
			.main-tit {
				margin-bottom: 20px;
				font-size: 1.250rem;//20
				font-weight: 600;
				@include respond-above(sm) {
                    margin-bottom: 30px;
					font-size: 1.375rem;//22
				}
				@include respond-above(md) {
                    margin-bottom: 40px;
					font-size: 1.500rem;//24
				}
			}
			.sub-tit {
                @include clearfix;
				font-size: .875rem;//14
				@include respond-above(sm) {
					font-size: 1rem;//16
				}
				@include respond-above(md) {
					font-size: 1.125rem;//18
				}
                .tit {
                    float: left;
                    width: 100%;
                    margin-bottom: 8px;
                    font-weight: 600;
                    @include respond-above(sm) {
    					font-size: 1rem;//16
                        margin-bottom: 12px;
    				}
    				@include respond-above(md) {
    					font-size: 1.125rem;//18
    				}
                }
                .desc {
                    float: left;
                    width: 100%;
                    margin-left: 10px;
                    color: #676767;
                    @include respond-above(sm) {
    					font-size: 1rem;//16
    				}
    				@include respond-above(md) {
    					font-size: 1.125rem;//18
    				}
                }
                &.deep {
                    margin-top: 30px;
                    @include respond-above(md) {
    					margin-top: 40px;
    				}
                }
			}
			.timeline {
                margin-top: 20px;
                .time {
                    span {
                        background-color: #e5e5e5;
                        text-align: center;
                    }
                }
                .curriculum {
                    > div {
                        background-color: #f6f6f6;
                        p:first-child {
                            font-weight: 600;
                        }
                        .desc {
                            margin-top: 12px;
                            color: #676767;
                        }
                    }
                }
				@include respond-below(sm) {
                    @include clearfix;
					.time {
                        float: left;
                        width: 36%;
                        min-width: 116px;
                        span {
    						display: block;
    						font-size: .875rem;
    						&:first-child {
    							border-radius: 8px 8px 0 0;
    						}
    						&:not(:first-child) {
    							border-top: 1px solid #d3d3d3;
    						}
    						&:last-child {
    							border-radius: 0 0 8px 8px;
    						}
    					}
                    }
					.curriculum {
                        float: right;
                        width: calc(64% - 10px);
                        > div {
    						padding: 23px 16px;
    						font-size: .875rem;
    						&:first-child {
    							border-radius: 8px 8px 0 0;
    						}
    						&:not(:first-child) {
    							border-top: 1px solid #d3d3d3;
    						}
    						&:last-child {
    							border-radius: 0 0 8px 8px;
    						}
    					}
                    }
				}

                @include respond-above(sm) {
                    .time {
                        display: flex;
                        margin-bottom: 10px;
                        span {
                            width: 25%;
    						padding: 18px 0;
    						font-size: .875rem;
    						&:first-child {
    							border-radius: 8px 0 0 8px;
    						}
    						&:not(:first-child) {
    							border-left: 1px solid #d3d3d3;
    						}
    						&:last-child {
    							border-radius: 0 8px 8px 0;
    						}
    					}
                    }
					.curriculum {
                        display: flex;
                        > div {
                            display: flex;
                            width: 25%;
    						padding: 20px 22px;
    						font-size: .875rem;
    						&:first-child {
    							border-radius: 8px 0 0 8px;
    						}
    						&:not(:first-child) {
    							border-left: 1px solid #d3d3d3;
    						}
    						&:last-child {
    							border-radius: 0 8px 8px 0;
    						}
                            > div {
                                margin: auto;
                                text-align: center;
                            }
                            font-size: 1rem;
                            .desc {font-size: .875rem;}
    					}
                    }
                }
                @include respond-above(md) {
                    .time {
                        span {
    						font-size: 1rem;
    					}
                    }
					.curriculum {
                        > div {
            				font-size: 1.125rem;//18
                            .desc {font-size: 1rem;}
    					}
                    }
                }
                &.deep {
                    .time {
                        span {background-color: #b3d5f2;}
                    }
                    .curriculum {
                        > div {background-color: #e8f2f8;}
                    }
                }
			}
		}
	}
}
