//background-color
.bg-primary { background-color:$primary !important; }
.bg-orange { background-color:$orange !important; }

//color
.text-primary { color:$primary !important; }
.text-orange { color:$orange !important; }
