// Loading
.loading {
  color: transparent !important;
  min-height: 1em;
  pointer-events: none;
  position: relative;
  &::after {
    animation: loading 500ms infinite linear;
    display: block;
    content: "";
    width: 1em;
    height: 1em;
    margin-left: -.5em;
    margin-top: -.5em;
    border: .1em solid $primary;
    border-right-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
  }
}

@keyframes loading {
  0% { transform:rotate(0) }
  100% { transform:rotate(360deg) }
}
