// Loading
.loading {
  color: transparent !important;
  min-height: 1em;
  pointer-events: none;
  position: relative;
  &::after {
    animation: loading 500ms infinite linear;
    display: block;
    content: "";
    width: 2em;
    height: 2em;
    margin-left: -1em;
    margin-top: -1em;
    border: 3px solid $primary;
    border-right-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

@keyframes loading {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}
