.catalogue {
    &-item {
        border-bottom: 1px solid $grey-2;
        color: $default-color;
        display: block;
        padding: 1rem 0;
        &:hover .catalogue-line,
        &:focus .catalogue-line {
            width: 5rem;
        }
        &:last-child {
            border: 0;
        }
    }
    &-time {
        display: block;
        font-size: .85em;
        color: $default-tint;
        //font-family: $palatino;
        letter-spacing: .5px;
    }
    &-title {
        color: $default-shade;
        display: block;
        //font-family: $sans-font;
        font-size: 1.5em;
        font-weight: 400;
        margin: .5rem 0;
        @include transition(transform .2s ease, color .2s ease);
    }
    &-item:hover &-title {
        transform: translateX(6px);
        color: var(--color-strong-text);
    }
    &-new {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #ff6633;
        margin-left: 0.3em;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }
    &-line {
        display: block;
        display: none;
        @include transition(all .3s ease-out);
        border-top: .2rem solid $default-shade;
        width: 2rem;
    }
}