//! 1280 ~ 1920
.cs-contents {

  // 중요 태그
  .important_tag {
    background:#D9EAF8;
    padding: 4px 12px;
    border-radius: 4px;
    margin-right: 12px;
    &:hover {
      color: #333;
    }
  }

  &.index {
    padding-top: $headerHeight;
    //! 메인 이미지
    .sub-visual {
      width: 100%;
      padding: 120px 0;
      text-align: center;
      //background: url(https://static.hiworks.com/www/static/images/www.hiworks.com/cs/index.png) 50% 50%/cover no-repeat;
      background: url(https://static.hiworks.com/www/static/images/www.hiworks.com/cs/index_compress.png) 50% 50%/cover no-repeat;
      background-color: #fff;
      .slogan-wrap {
        .slogan {
          font-size: 42px;
          margin-bottom: 15px;
          color: #fff;
          line-height: 1.2;
          font-weight: 800;
        }
        .sub-slogan {
          color: #fff;
          font-size: 18px;
        }
      }
      .cs-service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        max-width: 534px;
        margin: 50px auto 0;
        @include respond-above(md) {
          max-width: 712px;
        }
        @include respond-above(lg) {
          width: 100%;
          max-width: 100%;
        }
        .item-wrap {
          &.remote {
            display: none;
            @include respond-above(md) {
              display: block;
            }
          }
          .box {
            display: inline-block;
            width: 164px;
            height: 164px;
            margin: 0 7px 14px;
            padding: 40px 0;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 8px;
            &:hover {
              background: rgba(255, 255, 255, 1);
            }
            @include respond-above(lg) {
              width: 185px;
              height: 185px;
              margin: 0 10px 16px;
              padding: 50px 0;
            }
          }
          .text {
            font-size: 18px;
            margin-top: 8px;
            letter-spacing: -1px;
          }
        }
      }
    }

    //! 1280 ~ 1920
    .rwd-container {
      position: relative;
      max-width: 1480px;
      margin: 0 auto;
      padding: 0 20px;
      @include clearfix();
    }

    //! 1024 ~ 1199(아이패드 가로)
    @include respond-below(lg) {
      .rwd-container {
        max-width: 100%;
      }
    }

    //! 공지사항 & 고객지원
    .notice-n-support {
      padding: 100px 0;
      background: #f6f6f6;
      @include respond-below(sm) {
        font-size: .875rem;
      }
      .section-title {
        font-size: 42px;
        font-weight: 800;
      }
      //! 공지사항
      .notice {
        padding-right: 100px;
        .all-view {
          margin-left: 20px;
        }
        .notice-wrap {
          margin: 20px 0 30px;
          border-top: 2px solid #d4d4d4;
          .notice-row {
            background: #fff;
            padding: 18px 25px;
            border-bottom: 2px solid #e7e7e8;
            .link {
              color: #676767;
              font-size: 16px;
              &:hover {
                color: $primary-color;
              }
            }
            @include clearfix();
          }
        }
      }
      //! 프리미엄 고객지원
      .support {
        .section-desc {
          font-size: 18px;
          margin-top: 14px;
          word-break: keep-all;
        }
        .service-center {
          font-size: 24px;
          margin: 25px 0 55px;
          .text {
            font-weight: 600;
          }
          .number {
            color: $primary-color;
            font-weight: 600;
            margin-left: 10px;
          }
        }
        .consulting {
          position: relative;
          .col {
            float: left;
            .title {
              font-size: 18px;
              margin: 5px 0 15px;
            }
            .desc {
              color: #676767;
            }
          }
          .vertical-line {
            float: left;
            display: block;
            margin: 0 45px;
            content: '';
            height: 145px;
            width: 1px;
            background: #e5e5e5;
          }
          @include clearfix();
        }
      }
    }
  }
}

@include respond-below(lg) {
  .cs-contents {
    &.index {
      //! 메인 이미지
      .sub-visual {
        width: 100%;
      }
      .notice-n-support .support .consulting .vertical-line {
        margin: 0 30px;
      }
    }
  }
}

@include respond-below(md) {
  .cs-contents {
    &.index {
      .sub-visual {
        padding: 80px 0;
        .slogan-wrap {
          .slogan {
            font-size: 32px;
            margin-bottom: 5px;
          }
        }
        .cs-service {
          margin-top: 30px;
        }
      }
      //! 공지사항 & 고객지원
      .notice-n-support {
        padding: 50px 0 0;
        .rwd-container {
          padding: 0;
        }
        .section-title {
          font-size: 36px;
        }
        //! 공지사항
        .notice {
          padding: 0 20px 50px;
          .all-view {
            margin-left: 15px;
          }
        }
        //! 프리미엄 고객지원
        .support {
          display: none;
          padding: 50px 20px;
          background: #fff;
          text-align: center;
          .section-desc {
            font-size: 16px;
            margin-top: 5px;
          }
          .service-center {
            margin: 10px 0 25px;
          }
          .consulting {
            display: inline-block;
          }
          &.mobile_support {
            display: block;
          }
        }
      }
    }
  }
}


@include respond-below(sm) {
  .cs-contents {
    &.index {
      .sub-visual {
        background: $primary-color;
        .slogan-wrap {
          .slogan {
            font-size: 24px;
          }
          .sub-slogan {
            font-size: 16px;
          }
        }
        .cs-service {
          margin-top: 30px;
          .item-wrap {
            width: 50%;
            .box {
              display: flex;
              width: auto;
              flex-direction: column;
              justify-content: center;
              height: 130px;
              background: #fff;
            }
            .text {
              font-size: 16px;
            }
          }
        }
      }
      //! 공지사항 & 고객지원
      .notice-n-support {
        .section-title {
          font-size: 24px;
        }
        //! 공지사항
        .notice {
          padding: 0 20px 20px;
          .notice-wrap {
            .notice-row {
              padding: 10px 15px;
              .link {
                color: #676767;
                font-size: 14px;
                @include truncate(100%);
              }
              .day {
                margin-left: 14px;
                font-size: 14px;
                //margin-top: 3px;
              }
              @include clearfix();
            }
          }
          .dns-record-button {
            display: none;
          }
        }
        //! 프리미엄 고객지원
        .support {
          .consulting {
            width: 100%;
            margin-top: 10px;
            .col {
              width: 45%;
              .title {
                font-size: 16px;
                margin: 5px 0 10px;
              }
              .desc {
                font-size: 14px;
              }
            }
            .vertical-line {
              margin: 0 4%;
            }
          }
        }
      }
    }
  }
}
