//! 1280 ~ 1920
.cs-contents {
  padding-top: $headerHeight;
  &.agreement {
    background: #fff;
    @include respond-above(md) {
      background: linear-gradient(90deg, #fff 50%, #f6f6f6 50%);
    }
    .rwd-container {
      max-width: 100%;
      padding: 0;
      @include respond-above(md) {
        position: relative;
        max-width: 1480px;
        margin: 0 auto;
        padding: 0 20px;
        @include clearfix();
      }
    }
    .contents {
      background: #F6F6F6;
      min-height: 900px;
      padding: 40px 20px;
      @include respond-above(md) {
        padding: 65px 80px;
      }
    }
    .left-menu {
      margin-top: 40px;
      padding: 0px 20px;
      height: 100px;
      @include respond-above(sm) {
        height: 130px;
      }
      @include respond-above(md) {
        display: block;
        margin-top: 60px;
        height: auto;
        padding: 0;
      }
      h3{
        float: left;
        font-size: 24px;
        letter-spacing: -1.5px;
        margin-top: 15px;
        @include respond-above(sm) {font-size: 42px;}
        @include respond-above(md) {
          float: none;
          margin-top: 0;
        }
      }
      .cs-menu-mobile{
        float: right;
        width: 40%;
        &.select-wrapper{
          margin-top:10px ;
        }
        @include respond-above(md) {
          display: none;
        }
      }
      .menu-list {
        display: none;
        @include respond-above(md) {
          display: block;
          margin-top: 20px;
        }
      }
    }
    .cs-content-title {
      .title {
        font-size: 24px;
      }
    }
  }
  .rwd-container {
    max-width: 100%;
    padding: 40px 0 60px;
    @include respond-above(sm) {
      padding: 50px 0 100px;
    }
    @include respond-above(md) {
      padding: 0 0 120px;
    }
  }
  .left-menu {
    @include clearfix();
    padding: 0 20px 30px;
    @include respond-above(sm) {
      padding: 0 20px 40px;
    }
    @include respond-above(md) {
      display: none;
    }
    h3 {
      font-size: 32px;
      letter-spacing: -1.5px;
    }
    .cs-menu-mobile{
      display: none;
    }
    .menu-list {
      margin-top: 20px;
      .item {
        .link {
          display: inline-block;
          padding: 15px 0;
          font-size: 18px;
          width: 60%;
          font-weight: 500;
        }
        &:hover {
          .link {
            color: $primary-color;
          }
        }
        &.active {
          .link {
            color: $primary-color;
            font-weight: 600;
          }
        }
      }
    }
  }
  .contents {
    // min-height: 900px;

    .content-header {
      padding: 40px 20px 30px;
      background: #F6F6F6;
      text-align: center;
      @include respond-above(sm) {
          padding: 60px 20px 30px;
      }
      @include respond-above(lg) {
          padding-bottom: 40px;
      }
      .cs-content-title {
        .title {
          display: inline-block;
          margin-left: 8px;
          font-size: 24px;
          @include respond-above(sm) {
            font-size: 32px;
          }
          @include respond-above(md) {
            font-size: 36px;
          }
        }
      }
      .notice-color {
        color: $primary-color;
      }
      .desc {
        font-size: .875rem;//14
        margin-top: 14px;
        @include respond-above(sm) {
          font-size: 1rem;//16
        }
        @include respond-above(lg) {
          font-size: 1.125rem;//18
        }
        &.sub{
          font-size: 16px;
          margin-top:10px;
        }
      }


      .circle-div{
        text-align: center;
        .menu-item {
          display: inline-block;
          &:not(last-child) {
            margin-left: 10px;
          }
          .info-ball-desc {
            .text {
              font-size: .875rem;
              font-weight: normal;
              @include respond-above(sm) {
                font-size: 1rem;
              }
            }
          }

        }
        .info-ball-div {
          position: relative;
          display: block;
          width: 110px;
          height: 110px;
          margin-right: 10px;
          background: #fff;
          border-radius: 70px;
          filter: drop-shadow(5px 5px 5px #efefef);

          .info-ball-desc{
            position: absolute;
            top: 27%;
            left: 20px;
            text-align: center;
            font-size: 18px;
            color:$primary-color;
            font-weight: 600;
          }

          &.disabled{
            background:none;
            .info-ball-desc{
              color:#333333;
            }
            &:hover{
              background:white;
              .info-ball-desc{
                color:$primary-color;
              }
            }
          }
        }

        @include clearfix();
      }
    }

    .search-bar {
      margin: 40px 20px;
      @include respond-above(sm) {
        width: 480px;
        margin: 50px auto;
      }
      @include respond-above(sm) {
        width: 550px;
        margin: 60px auto;
      }
    }

    .desc-dot {
      margin-bottom: 15px;
      &.mb-hidden {
        @include respond-below(sm) {
          display: none;
        }
      }
      > li {
        display: table;
        width: 100%;
        text-align: left;
        /*
        &:before {
          display: table-cell;
          width: 15px;
          content: '\2027';
        }
        */
        .dot {
          width: 4px;
          height: 4px;
          background: #676767;
          display: inline-block;
          vertical-align: middle;
          border-radius: 10px;
          margin-right: 10px;
        }
        .strong-bg {
          background: #b3d5f2;
        }
      }
    }

    .content-list-div {
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
      color: #676767;
      @include respond-above(md) {
        max-width: 1036px;
      }
      @include respond-above(lg) {
        max-width: 1195px;
      }

      .not-result {
        padding: 18px 0;
        font-size: .875rem;
        text-align: center;
        .primary-text {
          margin-bottom: 17px;
          color: $primary-color;
          font-size: 1.125rem;
        }
      }

      .list{
        height: 60px;
        text-align: left;
        .title{
          a{
            color: #676767;
            &:hover{
              color: $primary-color;
            }
          }
        }

        &.content{
          background: #FFFFFF;
          &:hover{
            color: $primary-color;
          }
        }

        &.notice{
          background: #FFFFFF;
          border: 1px solid #C1C1C1;
          margin-bottom: 5px;

          .cell{
            display: inline-block;
            height: 100%;
            padding: 15px 0;
            padding-left: 15px;
            &.content{
              @include truncate(calc(100% - 150px));
            }
            &.date{
              float: right;
              padding-right: 15px;
            }
          }
        }

        &.header, &.notice-header{
          background: #E5E5E5;
          .d-table-cell{
            border-top: 1px solid #C1C1C1;
          }
        }

        &.content .d-table-cell, &.header .d-table-cell {
          vertical-align: middle;
          border-bottom: 1px solid #C1C1C1;
          &:nth-child(1){
            text-align: center;
            width: 10%;
          }
          &:nth-child(2){
            width: 30%;
          }
          &:nth-child(3){
            width: 60%;
          }

        }
        // why ??
        &.notice .d-table-cell , &.notice-header .d-table-cell{
          vertical-align: middle;
          border-bottom: 1px solid #C1C1C1;
          &:nth-child(1){
            padding-left: 30px;
            width: 85%;
          }
          &:nth-child(2){
            width: 15%;
          }
        }
      }

      &.faq-list {
        // @include respond-above(md) {padding: 0;}
        .list {
            .d-table-cell {
              background: #fff;
              padding: 16px 14px;
              border-bottom: 1px solid #dbdbdb;
              @include respond-above(sm) {
                padding: 22px 24px;
              }
              @include respond-above(md) {
                padding: 22px 30px;
              }
              &:nth-child(1) {
                text-align: left;
              }
              a {color: #676767;}
            }
            &:first-child {
              .d-table-cell {
                border-top: 1px solid #333;
              }
            }
        }
      }

      .notice-wrap {
        border-top: 1px solid #333;
        .link:last-child {
          .notice-row {border-color: #333;}
        }
        .link .day {
          font-size: 16px;
          color: #9f9f9f;
        }
        .notice-row {
          background: #fff;
          padding: 16px 14px;
          border-bottom: 1px solid #dbdbdb;
          @include respond-above(sm) {
            padding: 22px 24px;
          }
          @include respond-above(md) {
            padding: 22px 30px;
          }
          &.th-div{
            display: none;
            @include respond-above(sm) {
              display: block;
              padding: 20px 24px;
              font-size: 1.125rem;//18
            }
            @include respond-above(sm) {
              padding: 21px 30px;
            }
          }
          .link {
            font-size: 16px;
            &:hover {
              color: $primary-color;
            }
            //@include truncate(calc(100% -150px));
          }
          .title {
            color: #676767;
            @include respond-above(sm) {
              float: left;
            }
          }
          .day {
            @include respond-above(sm) {
              float: right;
            }
          }
          .num {
            width: 5%;
            text-align: center;
          }
          .division {
            text-align: center;
            .badge {
              display: inline-block;
              width: 79px;
              padding: 4px 0 1px;
              border-radius: 4px;
              font-size: .875rem;
              &.release {
                background-color: #5492fe;
                color: #fff;
              }
              &.update {
                background-color: #d9eaf8;
              }
              &.loadmap {
                background-color: #b2b2b2;
                color: #fff;
              }
            }
          }
          @include clearfix();
        }
        &.notice-new {
          @include respond-below(sm) {
            .num {display: none;}
            .list-title {
              clear: both;
              margin-top: 5px;
            }
          }
          .num, .division, .list-title {float: left;}
          .day {float: right;}
          .division {
            padding-right: 20px;
            @include respond-above(md) {
              width: 10%;
            }
          }
        }
      }

    }

    .content-input-div {
      width: 100%;
      margin: 40px auto 0;
      padding: 0 20px;
      color: #676767;
      @include respond-above(sm) {
        margin: 50px auto 0;
      }
      @include respond-above(md) {
        max-width: 1036px;
        margin: 60px auto 0;
      }
      @include respond-above(lg) {
        max-width: 1195px;
      }
      .hw-form-row {
        & + .hw-form-row {margin-top: 30px;}
        .hw-from-row {
          color:#676767;
          float: left;
          width: 15%;
          margin-bottom: 12px;
          font-size: .875rem;
          @include respond-above(sm) {
            margin-bottom: 0;
            font-size: 1rem;
          }
        }
        .hw-input-wrap {
          font-size: .875rem;
          &.size-basic {max-width: 300px;}
          &.size-name {max-width: 440px;}
          &.size-email {max-width: 610px;}
          .info-text{
            color:#676767;
          }
          .hw-input {
            flex: 1 1 0;
            -ms-flex: 1 1 auto;
          }
          .select-wrapper.phone-area {
            flex: 1.2 1 0;
          }
          @include respond-above(sm) {
            font-size: inherit;
          }
        }
        @include clearfix();
      }
      .notice-color {
        color: #E96C18;
        cursor: pointer;
        &.blue{
          color: $primary-color;
        }
      }
      .text__required-fields {
        margin-bottom: 40px;
        font-size: .875rem;
        @include respond-above(sm) {
          font-size: 1rem;
        }
        @include respond-above(md) {
          margin-bottom: 60px;
        }
      }
    }

    .content-view-div{
      width: 100%;
      margin: 50px auto 30px;
      padding: 0 20px;
      color: #676767;
      @include respond-above(md) {
        max-width: 1036px;
        padding: 0;
      }
      @include respond-above(lg) {
        max-width: 1195px;
      }
      .title-div{
        //height: 60px;
        padding: 20px;
        border-top: 1px solid #6f6f6f;
        @include respond-above(sm) {
          padding: 20px 24px;
        }
        @include respond-above(md) {
          padding: 20px 30px;
        }
        border-bottom: 1px solid #C1C1C1;
        .breadcrumb {
          margin-bottom: 5px;
          color: #9f9f9f;
        }
        .title{
          float:left;
          color: #000;
          @include respond-above(sm) {
            font-size: 18px;
          }
        }
        .date{
          float:right;
          color: #9f9f9f;
        }
        .division {
          text-align: center;
          .badge {
            display: inline-block;
            width: 79px;
            margin-right: 10px;
            padding: 4px 0 1px;
            border-radius: 4px;
            font-size: .875rem;
            &.release {
              background-color: #5492fe;
              color: #fff;
            }
            &.update {
              background-color: #d9eaf8;
            }
            &.loadmap {
              background-color: #b2b2b2;
              color: #fff;
            }
          }
        }
      }
      .body-div{
        padding: 20px;
        border-bottom: 1px solid #6f6f6f;
        * {font-family: 'Spoqa Han Sans',sans-serif;}
        @include respond-above(sm) {
          padding: 30px 24px;
        }
        @include respond-above(md) {
          padding: 24px 30px;
        }
        img{
          max-width:100%;
          height: auto !important;
        }
        a {color: $primary-color;}
      }
    }

    .content-submit-div {
      margin-top: 40px;
      font-size: .875rem;
      @include respond-above(sm) {
        margin-top: 60px;
        font-size: 1rem;
      }
      .notice-color {
        color: $primary-color;
      }
      .terms {
        .title {
          color: #333333;
          font-size: 18px;
          margin-bottom: 20px;
        }
        .desc {
          color: #676767;
          font-size: 16px;
          margin-bottom: 80px;
        }
      }
      .hw-pill-button {
        margin-top: 30px;
        @include respond-above(sm) {
          margin-top: 40px;
        }
      }

      .detail-div{
        margin-bottom: 20px;
        .icon{
          margin-bottom: -2px;
          margin-left: 6px;
          height: 15px;
          width:15px;
          display: inline-block;
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/common/detail-down.svg') 50% 50%/contain no-repeat;
          &.up{
            background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/common/detail-up.svg') 50% 50%/contain no-repeat;
          }
        }
        .detail-desc{
          padding: 10px;
          &.hide{
            display: none;
          }
        }
      }

    }

    .pagination-div {
      padding-top: 30px;
      @include respond-above(md) {
        padding-top: 40px;
      }
      .pagination{
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
        .prev img , .next img{
          display: block;
        }

        button{
          &:nth-child(1){
            margin-right: 5px;
          }

          &:nth-last-child(1) {
            margin-left: 5px;
          }
        }

        .page {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          &:hover{
            color: $primary-color;
            font-weight: 600;
          }
          &.active{
            background: $primary-color;
            color: #FFFFFF;
          }
        }
      }
    }

    //! cs/mail_consult.html
    .info-div {
      .info-icon {
        margin-right: 5px;
        margin-bottom: -2px;
      }
      .info-desc {
        font-size: 14px;
        color: #d96c18;
      }
    }

  }

  //! component style
  .select-wrapper select{
    border-radius: 30px;
  }

  .no-background-color{
    background: none;
    border: 1px solid #C1C1C1;
    color: #676767;
  }

  .divider {
    margin-top: 60px;
    margin-bottom: 60px;
    border-top: 1px solid #C1C1C1;
  }

  .hw-input-wrap{
    position: relative;

    .search-icon{
      position: absolute;
      right: 14px;
      top: 11px;
      cursor: pointer;
    }
    .unit-wrap {
      flex: 1 1 0;
      position: relative;
      .hw-input {width: 100%;}
      .unit-point{
        position: absolute;
        right: 15px;
        top: 10px;
        @include respond-below(sm) {
          top: 12px;
        }
      }
    }
  }

  .hw-textarea-wrap{
    display: block;
    width: 100%;
    .hw-input {
      border-radius: 5px;
      font-size: 14px;
      padding: 10px;
      min-height: 300px;
      @include formStatusStyle();
    }
  }
  .header-menu {
    max-width: 1480px;
    margin: 30px auto 0;
    padding: 0 20px;
    .header-carousel {
      .owl-stage {margin: 0 auto;}
      .item {
        display: inline-block;
        height: 46px;
        margin-bottom: 20px;
        padding: 0 14px;
        white-space: nowrap;
        @include respond-above(md) {
          height: 50px;
        }
        &.active {
          background-color: #9aa7be;
          border-radius: 26px;
          .text {color: #fff;}
        }
        .text {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          @include respond-above(sm) {
            font-size: 16px;
          }
        }
      }
      .owl-dots .owl-dot {
        span {
          width: 40px;
          height: 10px;
          background: #d9d9d9;
          border-radius: 5px;
          margin: 5px;
        }
        &.active span {
          background: $primary-color;
        }
      }
    }
  }

  // faq
  &.faq {
    .search-select {
      margin: 40px 20px;
      @include respond-above(sm) {
        .space-left {padding-left: 10px;}
      }
      @include respond-above(md) {
        width: 790px;
        margin: 55px auto 65px;
      }
    }
  }
}


//! 768 ~ 1023(아이패드 세로)
@include respond-below(md) {
  .cs-contents {
    background: #fff;
    .contents {
       .content-input-div {
         .row {
           .label {
             color:#676767;
             float: left;
             width: 15%;
           }
           .input-wrap {
             float: left;
             width: 85%;
           }
           @include clearfix();
         }
       }
    }

    .search-select{
      .select-wrapper{
        margin-bottom: 10px;
      }
    }


    .rwd-container{
      .left-menu{
        .menu-list{
          display: none;
        }
        h3{
          float: left;
        }
        .cs-menu-mobile{
          display: block;
          float: right;
          width: 40%;
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .cs-contents {
    background: #fff;

    .left-menu {
      h3 {
        font-size: 24px;
        letter-spacing: -1.5px;
        margin-top: 5px;
      }
    }

    .contents {
      .content-input-div {
        .row {
          .label {
            float: none;
            width: 100%;
          }
          .input-wrap {
            float: none;
            width: 100%;
          }
          @include clearfix();
        }

        .hw-input-wrap{
          .input-type-one{
            width:100%;
          }
          .input-type-two{
            width:46%;
          }
        }
        .input-type-textarea{
          width:100%;
        }

      }


      .pagination-div {
        .pagination{
          max-width: 350px;
          margin: 0 auto;
          text-align: center;
          .prev img , .next img{
            display: block;
          }

          .search-icon{
            width: 35px;
          }

          button{
            &:nth-child(1){
              margin-right: 5px;
            }

            &:nth-last-child(1) {
              margin-left: 5px;
            }
          }

          .page {
            width:35px;
            height: 35px;
            border-radius: 20px;
            &:hover{
              color: $primary-color;
              font-weight: 600;
            }
            &.active{
              background: $primary-color;
              color: #FFFFFF;
            }
          }
        }
      }

   }
   .support-flag{
     display: none;
   }
  }

}



.gt-modal-wrap{
  .custom-modal{  // 공지 팝업 헤더, 배경
    .gt-modal-content{
      border-radius: 10px;
      .gt-modal-header{
        border-radius: 10px;
        background-color:#FFFFFF ;
        color:#333333 ;
        font-size: 18px;
        padding: 30px;
        padding-bottom:  24px;
      }

      .gt-modal-body{
        //max-height: 700px;
        .desc-div:nth-child(n+2){
          padding-top:25px;
        }

        .dns-record{
          font-size: 16px;
          border-collapse:collapse;
          td{
            padding:14px 20px;
            border-bottom: 1px solid #C1C1C1;
            border-right: 1px solid #C1C1C1;

            &:nth-child(4n){
              border-right: none;
            }
          }

          .t-header{
            td{
              border-top: 1px solid #C1C1C1;
              background:#E8F2F8;
            }
          }
        }

        .desc-div{
          .title{
            font-size: 18px;
            font-weight: bold;
            .dot{
              width: 4px;
              height: 4px;
              background: #676767;
              display: inline-block;
              vertical-align: middle;
              border-radius: 10px;
              margin-right: 10px;
            }
          }
          .alpha-title{
            margin-top: 25px;
          }
          .dotted-desc{
            margin-left: 12px;
          }
        }

        .sub-div{
          margin-top: 20px;
          background: #F6F6F6;
          border-radius: 8px;
          padding:30px;

          .info-div{
            color:#E96C18;
            margin-bottom:10px;
            img{
              vertical-align: text-top;
            }
          }

          .label-no{
            background:#E96C18;
            color:#F6F6F6;
            font-size: 12px;
            height: 20px;
            width: 20px;
            border-radius: 15px;
            display: block;
            text-align: center;
            line-height: 2;
          }
        }

        .close-div{
          text-align: center;
          padding-top: 20px;
          a:not(:first-child) {
              margin-top: 5px;
              @include respond-above(sm) {
                margin-left: 20px;
              }
          }
        }

        .alert-div{
          text-align: center;
          font-size: 18px;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        p{
          padding-top:5px;
        }
      }
      .gt-modal-close{
        top: 20px;
        right: 20px;
        a {
          display: block;
          background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/common/close.svg') 50% 50%/contain no-repeat;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@include respond-below(md) {
  .gt-modal-wrap{
    .custom-modal{  // 공지 팝업 헤더, 배경
      .gt-modal-content{
        .mobile-disable-br{
          display: none;
        }
      }
    }
  }
}


// 메일 문의
.mail-inquiry {
  .rwd-container {
    max-width: 1016px;
    .box {
      display: flex;
      align-items: center;
      padding:0 25px;
      margin: 0 10px;
      height: 102px;
      border-radius: 8px;
      border: 1px solid #c1c1c1;
      background: #fff;
      &:hover {
        border-color: #2F58B8;
      }
      .text_wrap {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 25px;
        ._main {
          margin-bottom: 5px;
          font-size: 18px;
        }
      }
      @include respond-below(sm) {
        justify-content: center;
        flex-direction: column;
        height: 140px;
        padding: 0;
        .text_wrap {
          margin-left: 0;
          ._main {
            margin-top: 10px;
            margin-bottom: 0;
          }
          ._sub {
            display: none;
          }
        }
      }
    }
  }
}

// 데모체험 페이지
.demo-done {
  .content-header {
    .button_wrap {
      margin-top: 25px;
      @include respond-below(sm) {
        .hw-pill-button.small {
          display: block;
          margin: 20px auto 0 !important;
          width: 45%;
        }
      }
    }
    @include respond-below(md) {
      height: 320px;
    }
  }
  .big_txt {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    @include respond-below(md) {
      font-size: 18px;
    }
  }
  .mid_txt {
    font-size: 18px;
    color: #333;
    @include respond-below(md) {
      font-size: 16px;
    }
  }
  .sm-txt {
    font-size: 16px;
    @include respond-below(md) {
      font-size: 14px;
    }
  }
  .border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 287px;
    background: #c1c1c1;
    opacity: 0.7;
    @include respond-below(sm) {
      bottom: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      position: relative;
    }
  }
  .warning_text {
    margin: 100px 30px 0;
    @include respond-below(sm) {
      margin: 50px 30px 0;
    }
  }
  @include respond-below(sm) {
    .rwd-row .rwd-col {
      float: none;
      margin: 50px 0;
    }
  }
}





.subtop_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f6f6f6;
  text-align: center;
  height: 200px;
  @include respond-below(md) {
    font-size: 180px;
  }
  @include respond-below(sm) {
    height: 140px;
  }
  .main_tit {
    font-size: 36px;
    margin: 3px;
    color: #333;
    font-weight: 800;
    word-break: keep-all;
    @include respond-below(md) {
      font-size: 32px;
    }
    @include respond-below(sm) {
      font-size: 24px;
    }
  }
  .sub_tit {
    font-size: 18px;
    margin: 3px;
    @include respond-below(md) {
      font-size: 16px;
    }
    @include respond-below(sm) {
      font-size: 14px;
    }
  }
}

