//base
@import 'base/reset';

//helper
@import 'helper/clearfix';

//media
@import 'media/breakpoints';
@import 'media/respondAbove';
@import 'media/respondBelow';
@import 'media/respondBetween';
@import 'media/grid';

//layout
@import 'layout/header';
@import 'layout/footer';


* {margin: 0; padding: 0}

.rwd-container {
	position: relative;
	max-width: 1440px;
  padding: 0 20px;
	margin: 0 auto;
}

@include respond-below(lg) {
  .rwd-container {
    max-width: 100%;
  }
}

@include respond-below(md) {
  .rwd-container {
    max-width: 100%;
  }
}

@include respond-below(sm) {
  .rwd-container {
    max-width: 100%;
  }
}