//base
@import 'base/reset';

//helper
@import 'helper/clearfix';

//media
@import 'media/breakpoints';
@import 'media/respondAbove';
@import 'media/respondBelow';
@import 'media/respondBetween';
@import 'media/grid';

//layout
@import 'layout/header';
@import 'layout/footer';


* {margin: 0; padding: 0}

.wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mail-groupware {
  padding: 50px 0; 
  background: green;
  @include clearfix();
  .rwd-container {
    max-width: 1245px;
    .box {
      height: 450px;
      border-radius: 8px;
      background: rgba(255,255,255, 0.8);
      &.mail {
        margin-right: 37.5px;
      }
      &.groupware {
        margin-left: 37.5px;
      }
    }
    .title {
      font-size: 42px;
      margin-bottom: 30px;
      text-align: center;
      color: #fff;
    }
  }
}

.retina-test {
  .img {
    width: 423px;
    height: 464px;
    background: url(../images/market.png) 50% 50% no-repeat;
  }
  .retina-img {
    width: 423px;
    height: 464px;
    background: url(../images/market_2x.png) 50% 50% no-repeat;
    background-size: contain;
  }
}

@media 
  only screen and (min-device-pixel-ratio: 2), 
  only screen and (min-resolution: 192dpi) {
    .retina-test {
      .img {
        background: url(../images/market_2x.png) 50% 50% no-repeat;
        background-size: 423px 464px;
      }
    }
}


//! 1200 ~ 1920
.rwd-container {
	position: relative;
	max-width: 1440px;
  padding: 0 20px;
	margin: 0 auto;
}

//! 1024 ~ 1199
@include respond-below(lg) {
  .rwd-container {
    max-width: 100%;
  }
  .mail-groupware {
    .rwd-container {
      .box {
        &.mail {
          margin-right: 10px;
        }
        &.groupware {
          margin-left: 10px;
        }
      }
      .title {
        font-size: 35px;
      }
    }
  }
}

//! 768 ~ 1023
@include respond-below(md) {
  .rwd-container {
    max-width: 100%;
  }
  .mail-groupware {
    .rwd-container {
      .box {
        height: 200px;
        &.mail {
          margin-right: 0;
          margin-bottom: 20px;
        }
        &.groupware {
          margin-left: 0;
        }
      }
      .title {
        font-size: 30px;
      }
    }
  }
}

//! 0 ! 767
@include respond-below(sm) {
  .rwd-container {
    max-width: 100%;
  }
  .mail-groupware {
    .rwd-container {
      .title {
        font-size: 24px;
      }
    }
  }
}










.section1 {
  .box {
    height: 100px;
    margin: 0 5px;
  }
}

.section2 {
  .box {
    height: 100px;
    margin: 0 10px;
  }
}

.section3 {
  .box {
    height: 100px;
    margin: 0 15px;
  }
}

.section4 {
  .box {
    height: 100px;
    margin: 0 20px;
  }
}

.visual {
  position: relative;
  width: 100%;
  height: 300px;
  background: url(http://www.dkgholdings.co.kr/images/contents/sub2_visual.png) center center/cover no-repeat;
  .slogan {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    .main-slogan {
      font-size: 50px;
      word-break: keep-all;
    }
    .sub-slogan {
      margin-top: 10px;
      word-break: keep-all;
    }
  }
}


// .owl-dots {
//   text-align: center;
//   .owl-dot {
//     display: inline-block;
//     span {
//       display: block;
//       width: 15px;
//       height: 15px;
//       background: #ccc;
//       border-radius: 50%;
//       margin: 5px 7px;
//     }
//     &.active span,
//     &:hover span {
//       background: #2985db;
//     }
//   }
// }

// .owl-theme .owl-dots .owl-dot span {
//   width: 15px !important;
//   height: 15px !important;
// }
// .owl-theme .owl-dots .owl-dot.active span,
// .owl-theme .owl-dots .owl-dot:hover span {
//   background: #2985db !important;
// }