//! 1280 ~ 1920
#footer {
  color: #999999;
  background: #373737;
  position: relative;
  z-index: 100;
  .footer-wrap {
    position: relative;
    padding: 50px 0;
    @include clearfix();
    .policy-wrap {
      .item {
        .link {
          margin-right: 30px;
          font-size: 16px;
          color: #999;
          &.privacy-policy {
            color: #fff;
          }
        }
      }
    }
    .address-wrap {
      font-size: 14px;
      margin-top: 20px;
      font-weight: 600;
      .ceo {
        margin: 0 20px;
      }
      .company-number {
        margin: 0 20px;
      }
    }
    .awards {
      margin-top: 40px;
      .link {
        display: inline-block;
        color: #c1c1c1;
      }
      .text {
        line-height: 1.3;
      }
    }
    .family_site {
      position: absolute;
      right: 3%;
      top: 0;
      .select_link {
        display: flex;
        align-items: center;
        select {
          background: rgba(193, 193, 193, 0.7);
          border: 1px solid transparent;
          border-radius: 20px;
          width: 200px;
        }
      }
      .social_link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
        a {
          display: block;
          float: left;
          margin: 0 10px;
        }
      }
      @include respond-below(md) {
        position: initial;
        display: flex;
        padding: 30px 0 0;
        margin-top: 30px;
        border-top: 1px solid #484848;
        justify-content: center;
        .select_link {
          margin-right: auto;
        }
      }
      @include respond-below(sm) {
        position: initial;
        .select_link {
          display: none;
        }
        .social_link {
          margin-top: 0;
        }
      }
    }
    .go-top {
      position: absolute;
      right: 20px;
      top: calc(50% - 90px);
      outline: 0;
      @include respond-below(lg) {
        right: 35px;
        top: auto;
        bottom: 15px;
      }
      .go-top-wrap {
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #717171;
        .fa-arrow-up {
          font-size: 30px;
          margin-top: 20px;
          color: #9b9b9b;
        }
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  #footer {
    //margin: 100px 0 0;

    .footer-wrap {
      padding: 30px 0;
      .awards {
        position: relative;
        margin-top: 30px;
        .text {
          font-size: 14px;
        }
      }
    }
  }
}


//! 768 ~ 1023(아이패드 세로)
@include respond-below(md) {
  #footer {
    margin: 0;
    .footer-wrap {
      padding: 25px 0;
      text-align: center;
      .address-wrap {
        margin-top: 20px;
      }
      .go-top,
      .awards {
        display: none;
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  #footer {
    .footer-wrap {
      .policy-wrap {
        .item {
          .link {
            font-size: 14px;
            margin-right: 15px;
          }
        }
      }
      .address-wrap {
        font-size: 12px;
        .ceo {
          margin: 0 10px;
        }
        .company-number {
          margin: 0 10px;
        }
      }
    }
  }
}
