$primary-color: #2F58B8;
$primary-color-hover: #056ac9;
$pale-blue: #66b1ff;
$secondary-color: #ebebeb;
$secondary-color-hover: #d6d6d6;
$info-color: #909090;
$info-color-hover: #575757;
$warning-color: #ea6923;
$warning-color-hover: #da5a15;
$danger-color: #C70909;
$danger-color-hover: #ff010e;
$yellow-color: #fdc036;
$dark-primary-color: #77bdff;
$dark-bg-color: #505050;
$dark-border-color: #5E5E5E;

.primary-color {color: #2F58B8}
.secondary-color {color: #ebebeb}
.info-color {color: #909090}
.warning-color {color: #ea6923}
.danger-color {color: #C70909}
.yellow-color {color: #fdc036}
.orange-color {color: #E96C18}
.lightorange-color {color: #FF9100}
.primary-gray-color {color: #333}
.primary-lightgray-color {color: #676767}
.white-color {color: #FFF}
.color-fff {color: #fff}
.color-white {color: #fff}

.primary-bg {background-color: #2F58B8}
.secondary-bg {background-color: #ebebeb}
.info-bg {background-color: #909090}
.warning-bg {background-color: #ea6923}
.danger-color {color: #C70909}
.yellow-bg {background-color: #fdc036}

$headerHeight: 70px;
