.market-page {
  .price-table {
    padding: 120px 0;
    text-align: center;
    .show-on-mobile {
      display: none;
    }
    .title {
      font-size: 42px;
      font-weight: 600;
      margin-bottom: 60px;
    }
    table {
      border-spacing: 8px 0;
      width: 100%;
      .thead {
        .cell {
          padding: 22px;
          background: #E5E5E5;
          font-size: 24px;
          font-weight: 600;
          margin-right: 10px;
          border-radius: 10px;
          text-align: center;
          &.groupware {
            background: #B3D5F2;
          }
        }
      }
      .tbody {
        th {
          background: #E5E5E5;
        }
        tr {
          &:first-child {
            .cell {
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              font-size: 18px;
            }
          }
          &:last-child {
            .cell {
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom: 0;
            }
          }
        }
        .cell {
          background: #F6F6F6;
          padding: 20px 10px;
          border-bottom: 1px solid #d8d8d8;
          &:first-child {
            background: #E5E5E5;
          }
          .weak-color {
            color: #676767
          }
        }
        .groupware {
          background: #E8F2F8;
        }
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .market-page {
    .price-table {
      .title {
        font-size: 36px;
        margin-bottom: 40px;
      }
      table {
        border-spacing: 8px 0;
        width: 100%;
        .thead {
          .cell {
            padding: 15px 22px;
            font-size: 22px;
          }
        }
        .tbody {
          .cell {
            padding: 15px 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

//! 768 ~ 1023(아이패드 세로)
@include respond-below(md) {
  .market-page {
    .price-table {
      padding: 50px 0;
      .title {
        font-size: 32px;
        margin-bottom: 30px;
      }
      table {
        border-spacing: 8px 0;
        width: 100%;
        .thead {
          .cell {
            padding: 10px 22px;
            font-size: 18px;
          }
        }
        .tbody {
          .cell {
            padding: 10px 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .market-page {
    .price-table {
      display: none;
    }
  }
}
