//! 1280 ~ 1920
.market-page {
  padding-top: $headerHeight;

  .product-introduce {
    background: #f6f6f6;
    padding: 100px 0;
    .box {
      position: relative;
      z-index: 100;
      border: 2px solid #c1c1c1;
      border-radius: 8px;
      padding: 30px;
      text-align: center;
      background: #fff;
      .title {
        font-size: 28px;
        font-weight: 600;
      }
      .desc {
        font-size: 18px;
        margin: 10px 0 30px;
        letter-spacing: -1px;
        word-break: keep-all;
      }
      .option {
        border: 1px dashed #707070;
        border-radius: 4px;
        margin: 0 5px;
        padding: 30px 0;
        min-height: 281px;
        .tag {
          display: inline-block;
          background: #e5e5e5;
          padding: 6px 15px 5px;
          font-size: 14px;
          border-radius: 45px;
          &.blue {
            background: #e2f2ff;
          }
        }
        .title {
          font-size: 24px;
        }
        .desc {
          font-size: 14px;
          margin-top: 5px;
          margin-bottom: 20px;
          &.mail {
            margin: 25px 0 20px;
          }
        }
      }
      .plus {
        position: absolute;
        bottom: -40px;
        left: 50%;
        margin-left: -23.5px;
        width: 47px;
        height: 47px;
        background: #e5e5e5;
        color: #b2b2b2;
        border-radius: 50%;
        font-size: 30px;
        padding: 4px;
        &:after {
          position: absolute;
          top: -24px;
          left: calc(50% - 1px);
          display: block;
          content: '';
          height: 24px;
          border: 1px dashed #707070;
        }
      }
      &:hover {
        border-color: $primary-color;
      }
    }
    .mail {
      margin-right: 12px;
    }
    .groupware {
      margin-left: 12px;
    }

    //! 모든 상품에 포함된 기능
    .function {
      .function-wrap {
        margin-top: 25px;
        background: #fff;
        border-radius: 8px;
        padding: 45px 30px 40px;
        .title {
          font-size: 24px;
          font-weight: 600;
        }
        .icon-carousel {
          margin-top: 35px;
          .item {
            display: block;
            .img-div {
              width: 48px;
              height: 48px;
              margin: 0 auto 10px;
              @each $var in mail, aprove, insa, mobile, messenger, videoconference, addr, bbs, bill, schedule, reservation, arcahive {
                &.#{$var} {
                  background: url(https://static.hiworks.com/www/static/images/www.hiworks.com/about/#{$var}_hover.svg) no-repeat;
                }
              }
            }
            .service-name {
              letter-spacing: -1px;
              font-size: 16px;
            }
          }
        }
      }
    }

    //! 다양한 하이웍스 기능을 기간 제한 없이 무료로 이용해보세요
    .free-price {
      text-align: center;
      padding: 100px 0 20px;
      .quote {
        font-size: 20px;
        color: #c1c1c1;
        vertical-align: top;
        margin: 0 5px;
      }
      .text {
        font-size: 28px;
        font-weight: 800;
        word-break: keep-all;
      }
      .pill-button {
        margin-top: 20px;
      }
    }
  }
}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .market-page {
    .product-introduce {
      .box {
        padding: 20px;
        .option {
          min-height: auto;
        }
        .plus {
          display: none;
        }
        &.mail {
          margin-right: 5px;
          min-height: 440px;
          .option {
            min-height: 238px;
          }
        }
        &.groupware {
          margin-left: 5px;
        }
        &.groupware {
          .option {
            min-height: 281px;
          }
        }
      }
    }
  }
}

//! 768 ~ 1023(아이패드 세로)
@include respond-below(md) {
  .market-page {
    .product-introduce {
      padding: 50px 0;
      .box {
        .option {
          margin-bottom: 30px;
          .title {
            font-size: 22px;
          }
          .desc {
            &.mail {
              margin: 4px 0 15px;
            }
          }
        }
        .title {
          font-size: 26px;
        }
        .desc {
          font-size: 14px;
          margin: 5px 0 20px;
        }
        &.mail {
          margin-right: 0;
          margin-bottom: 20px;
        }
        &.groupware {
          margin-left: 0;
          margin-top: 20px;
        }
        &.mail {
          min-height: auto;
          .option {
            min-height: 209px;
          }
        }
      }
      .function {
        .function-wrap {
          margin-top: 45px;
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .market-page {
    .product-introduce {
      .box {
        img {
          width: 38px;
          height: 38px;
          margin-right: 5px !important;
        }
        .title {
          font-size: 24px;
        }
        .option {
          padding: 20px;
          .desc.mail {
            margin: 10px 0 15px;
          }
        }
        &.mail {
          .option {
            min-height: auto;
          }
        }
        &.groupware {
          .option {
            min-height: auto;
          }
        }
      }
      .function {
        display: none;
      }
      .free-price {
        padding: 50px 0 20px;
        .text {
          font-size: 24px;
        }
        .quote {
          display: none;
        }
        .pill-button {
          display: none;
        }
      }
    }
  }
}
