.hw-form-rows {
  background-color: #F6F6F6;

  // 여백
  @include respond-above(md) {
    padding: 80px 0;
  }
  @include respond-between(sm, md) {
    padding: 60px 0;
  }
  @include respond-below(sm) {
    padding: 40px 0;
  }
}

.hw-form-row {
  & + .hw-form-row {
    margin-top: 30px;
    @include respond-above(sm) {
        margin-top: 50px;
    }
  }

  //!전해상도 input 레이아웃 (flex)
  .hw-input-wrap {
    display: flex;
    align-items: center;
    > * {
      // ie bug fix
      max-width: 100%;

      // 요소 사이 간격
      &:not(:first-child) {
        margin-left: 5px;
      }
    }

    // form 요소인 경우만 grow/shrink
    > .hw-input,
    > .select-wrapper {
      flex: 1 1 0;
      -ms-flex: 1 1 auto;
    }
  }

  //! 768 ~
  @include respond-above(sm) {
    display: table;
    width: 100%;
    font-size: 16px;

    .hw-form-head,
    .hw-form-body {
      display: table-cell;
      vertical-align: top;
    }
    .hw-form-head {
      min-width: 160px;
      padding-top: 10px;
      padding-right: 20px;
      width: 15%;
    }
    .hw-form-body {
      width: 85%;
      max-width: calc(100% - 160px);
    }
  }

  //! ~ 767
  @include respond-below(sm) {
    display: block;
    font-size: 14px;

    .hw-form-head,
    .hw-form-body {
      display: block;
    }

    .hw-form-head {
      margin-bottom: 12px;
    }

    //* 커스터마이징 된 select는 모바일에서 폭이 줄어들어 오른쪽 화살표가 묻히는 이슈가 있으므로 다른 아이템들의 2배 크기 유지
    .hw-input-wrap {
      .select-wrapper {
        flex: 2 1 0;
      }
    }
  }
}
