//! 버튼
.pill-button {
  display: inline-block;
  text-align: center;
  letter-spacing: -0.4px;
  border-radius: 36px;
  background: #2F58B8;
  color: #fff;
  border: 1px solid transparent;
  min-width: 267px;
  padding: 0 40px;
  height: 72px;
  line-height: 70px;
  font-size: 20px;
  transition-duration: .3s;
  > a {
    color: #fff;
  }
  &.ghost {
    background: transparent;
    border-color: #C1C1C1;
    color: #676767;
    > a {
      color: #676767;
    }
  }
  &.small {
    width: auto;
    min-width: auto;
    height: 52px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 26px;
  }
  &:hover,
  &:focus {
    background: #143D82;
    &.ghost {
      border-color: #BCBCBC;
      background: #F2F2F2;
      color: #333;
      > a {
        color: #333;
      }
    }
  }
}

@include respond-below(lg) {

}

@include respond-below(md) {
  .pill-button {
    min-width: 200px;
    padding: 0 20px;
    height: 52px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 26px;
  }
}

@include respond-below(sm) {
}







// 상품페이지, 고객지원 white-rounded button
.hw-transform-btn {
	display: block;
	position: relative;
	width: 110px;
	height: 110px;

	// button size
	// ~ 767
	@include respond-below(sm) {
		width: 90px;
		height: 90px;
	}

	> button {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 50%;
		outline: none;

		// white circle
		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 50%;
			background-color: #fff;
			transform: scale(0);
			transition: all 0.15s;
		}

		// inner text
		.text {
			position: relative;
			z-index: 1;
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			// ~ 767
			@include respond-below(sm) {
				font-size: 16px;
			}
		}
	}

	// active
	&:hover, &:focus {
		> button {
			&:before {
				transform: scale(1);
			}
			.text {
				color: $primary-color;
				font-weight: 600;
			}
		}
	}
}

// active
.active .hw-transform-btn {
	> button {
		&:before {
			transform: scale(1);
		}
		.text {
			color: $primary-color;
			font-weight: 600;
		}
	}
}
