.el-dialog__wrapper {
  text-align: center;
  &:before {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  .el-dialog {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    margin: 1.75rem auto !important;
    text-align: left;
    border-radius: 0;
    padding: 25px;
    border: 1px solid #707070;
    background-color: #fff;
    -webkit-box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.16);
    .el-dialog__header {
      padding: 0 0 14px 0;
      border-bottom: 1px solid #dee2e6;
      .modal-title {
        font-size: 16px;
        color: #333;
        letter-spacing: -0.5px;
      }
      .el-dialog__headerbtn .el-dialog__close {
        display: none;
      }
    }
    .el-dialog__body {
      padding: 20px 0 30px 0;
      font-size: 14px;
      letter-spacing: -0.5px;
    }
    .el-dialog__footer {
      text-align: center;
      padding: 0 0 5px 0;
      @include clearfix();
    }

    &.xl {
      width: 850px;
      .modal-header {
        padding: 0 0 14px 0;
      }
    }

    &.lg {
      width: 600px;
      .modal-header {
        padding: 0 0 14px 0;
      }
    }

    &.md {
      width: 500px;
      .modal-header {
        padding: 0 0 14px 0;
      }
    }

    &.sm {
      width: 400px;
      .el-dialog__header {
        border-bottom: 0;
        padding: 0;
      }
      .el-dialog__body {
        padding: 5px 0 25px 0;
      }
      .el-dialog__footer {
        padding: 0;
      }
    }
  }
}








// .modal-content {
//   display: block !important;
//   border-radius: 0 !important;
//   box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.16);
// }

// .modal-header {
//   display: block !important;
//   padding: 12px 24px 15px !important;
//   &:after {
//     display: block;
//     content: '';
//     clear: both;
//   }
// }
// .modal-title {
//   float: left;
//   font-size: 16px;
// }
// .modal-body {
//   display: block !important;
//   flex: none !important;
//   padding: 12px 24px 15px !important;
// }

// .modal-footer {
//   display: block !important;
//   text-align: center !important;
//   border-bottom-right-radius: 0 !important;
//   border-bottom-left-radius: 0 !important;
// }

/* Dialog
.el-dialog__wrapper {
  .el-dialog {
    padding: 24px 24px 30px;
    border: solid 1px #707070;
    box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.16);
    
    .el-dialog__header {
      padding: 0;
      span {
        display: block;
        padding-bottom: 16px; 
        border-bottom: 1px solid #d6d6d6;
        color: #333;
        font-size: 16px;
        letter-spacing: -.7px;
        font-weight: 500;
      }
      .el-dialog__headerbtn {
        top: 24px;
        .el-dialog__close {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    .el-dialog__body {
      .dialog-body {
        padding: 20px 4px 30px;
      }
    }
    .el-dialog__footer {
      text-align: center;
    }
    .el-dialog__body, .el-dialog__footer {
      padding: 0
    }

    //크기가 작은 모달을 위한 CSS
    &.small {
      .el-dialog__header {
        span {
          padding-bottom: 0;
          border-bottom: 0;
        }
      }
      .el-dialog__body {
        .dialog-body {
          padding: 20px 0px 30px;
        }
      }
    }

  }
}
*/
