.hw-icon {
  display: inline-block;
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition-duration: .2s;
  cursor: pointer;
  > i {
    display: block;
    color: #909090;
    font-size: 16px;
    &.fas.fa-star { //ë³„(on)
      color: $yellow-color;
    }
  }
  &:hover {
    background: rgba(159, 166, 173 ,.3);
    outline: 0;
    // > i {
    //   color: #1c1c1c;
    // }
  }
  &:focus {
    background: rgba(159, 166, 173, 0.3);;
    outline: 0;
    > i {
      color: #575757;
    }
  }
  &:active {
    > i {
      color: #333;
    }
  }

  &.large {
    width: 32px;
    height: 32px;
    > i {
      font-size: 20px;
    }
  }
}
