.log-history {
  .scroll-box {
    width: 100%;
    border: 1px solid #d6d6d6;
    .scroll-box-inner {
      font-size: 14px;
      color: #666;
      li {
        padding: 5px 15px 5px 10px;
        &:hover {
          background: #eff4fc;
        }
      }
    }
  }
}