//! 환경설정 페이지 탭
.setting-tab {
  .el-tabs__header {
    margin: 0;
    .el-tabs__nav-wrap.is-top {
      .el-tabs__item.is-top {
        font-size: 15px;
        padding: 0 20px;
        width: 110px;
        color: #999;
        letter-spacing: -0.5px;
        text-align: center;
        &:hover {
          color: #666;
        }
        &:nth-child(5) { //! 수신거부 설정
          width: 140px;
        }
        &:nth-child(6) { //! 사용자 변경
          width: 130px;
        }
        &.is-active {
          color: $primary-color;
          &:after {
            display: block;
            position: absolute;
            content: "";
            width: 100%;
            bottom: 0;
            left: 0;
            height: 2px;
            background-color: $primary-color;
          }
        }
      }
      .el-tabs__active-bar {
        display: none;
      }
    }
  }
  .el-tabs__content {
    padding-top: 30px;
  }
}



.el-tabs__nav {
  width: 100%;
  .el-tabs__item {
    text-align: center;
  }
}


// .column-2 {
//   .el-tabs__item {
//     width: 50%;
//   }
// }

// .column-3 {
//   .el-tabs__item {
//     width: 33.333%;
//   }
// }

// .column-4 {
//   .el-tabs__item {
//     width: 25%;
//   }
// }

// .column-5 {
//   .el-tabs__item {
//     width: 20%;
//   }
// }
