.hw-tag {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  font-size: 13px;
  letter-spacing: -0.5px;
  color: #333;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  background: #f6f6f6;
  height: 24px;
  line-height: 22px;
  margin: 0 5px 0 0;
  white-space: nowrap;
  font-weight: 300;
  transition-duration: .1s;
  @include clearfix();

  .tag-name {
    float: left;
    @include truncate(200px);
  }

  &:hover, &:focus {
    border-color: #909090;
    background: #ebebeb;
  }

  &.memo {
    background: #fef6df;
    border-color: #f5e4b5;
    &:hover,
    &:focus {
      background: #f9efc3;
      border-color: #e7cd8f;
    }  
  }

  &.closable {
    padding: 0 3px 0 10px; 
    .hw-icon {
      position: relative;
      top: -1px;
      width: 16px;
      height: 16px;
      padding: 0;
      margin-left: 5px;
      .fal.fa-times {
        color: #909090;
        font-size: 12px;
        &:hover {
          color: #333;
        }
      }
    }
  }
  
  &[type="button"] {
    outline: none;
  }
}
