//! 1280 ~ 1920
.index {
  .groupware-section {
    background: url(https://static.hiworks.com/www/static/images/www.hiworks.com/index/index_4.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    .title {
      font-size: 42px;
      color: #fff;
      font-weight: 800;
      word-break: keep-all;
      opacity: 0;
      transition: transform .5s ease-in-out, opacity .5s ease-in-out;
      transform: translateY(-30px);
    }
    .rwd-row {
      margin-top: 50px;
      //padding: 0 104px;
      .box {
        position: relative;
        text-align: left;
        background: rgba(255,255,255,0.9);
        border-radius: 10px;
        height: 540px;
        padding: 58px 55px;
        margin: 0 12px;
        opacity: 0;
        transition: transform .5s ease-in-out, opacity .5s ease-in-out;
        transform: translateY(30px);

        .svg_wrap {
          position: absolute;
          bottom: 40px;
          right: 40px;
        }
        .exept-756-img{
          display: none;
        }

        .tit {
          font-size: 24px;
          color: #333;
          font-weight: bold;
        }
        .desc {
          font-size: 18px;
          padding: 26px 0 30px;
          font-weight: 400;
          word-break: keep-all;
        }
      }
    }
  }

  //! (animation) 모든 기업을 위한 기업메일과 그룹웨어
  [data-anchor="groupware"] {
    &.on {
      .title {
        opacity: 1;
        transform: translateY(0px);
      }
      .rwd-row {
        .box {
          opacity: 1;
          transition: transform .5s ease-in-out, opacity .5s ease-in-out;
          transform: translateY(0);
        }
      }
    }
  }

}

//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .index {
    .groupware-section {
      padding: 100px 0;
      .title {
        font-size: 36px;
      }
      .rwd-row {
        padding: 0;
        margin-top: 20px;
        .box {
          .tit {
            font-size: 22px;
          }
          .svg_wrap {
            text-align: center;
            margin: auto;
            width: 210px;
            position: static;
            margin-top: 40px;
            .svg {
              height: 150px;
              bottom: 30px;
              right: 20px;
            }
          }
        }
      }
    }
  }
}

//! 768 ~ 1023(아이패드 세로)
@include respond-below(md) {
  .index {
    .groupware-section {
      padding: 60px 0;
      .rwd-row {
        .box {
          padding: 40px 0;
          text-align: center;
          margin-bottom: 20px;
          height: auto;
          .svg_wrap {
            display: none;
          }
          .exept-756-img{
            display: none;
          }
          .exept-756-img{
            display: block;
            width: 150px;
            height: 150px;
            margin: 0 auto;
            margin-bottom: 50px;
          }
          .desc {
            font-size: 16px;
            padding: 20px 0;
            font-weight: normal;
          }
        }
      }
    }
  }
}

//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .index {
    .groupware-section {
      .title {
        font-size: 24px;
      }
      .rwd-row {
        .box {
          padding: 30px 0;
          .tit {
            font-size: 20px;
          }
          .desc {
            font-size: 14px;
          }
        }
      }
    }
  }
}
