.index {
  .floating-download-button {
    z-index: 1040;
    position: fixed;
    right: 50px;
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    padding-top: 20px;
    border-radius: 50%;
    background: #2f58b8;
    color: #fff;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    .floating-download-text {
      display: block;
      font-size: 14px;
      line-height: 1.3;
    }
  }
  .main-section {
    .slide {
      width: 100%;
      background-image: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/index/index_1.png');
      background-position: 68% 0%;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .slogan {
      //padding: 0 100px;
      opacity: 0;
      transition: all .5s ease-in-out, opacity .5s ease-in-out;
      transform: translateY(-30px);
    }
    .sub-title {
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      margin-left: 5px;
      letter-spacing: -0.8px;
    }
    .main-title {
      padding: 15px 0 35px;
      font-size: 74px;
      color: #fff;
      letter-spacing: -3.5px;
      font-weight: bold;
      word-break: keep-all;
      line-height: 1.3;
    }
    /*! 이벤트 띠 배너
    .event-wrap {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 28px 0;
      background: rgba(69,114,191,0.8);
      z-index: 100;
      .rwd-container {
        .left {
            width: 100%;
          float: left;
          padding-top: 15px;
          .main-slogan {
            font-size: 28px;
            color:#fff;
          }
          .sub-slogan {
            font-size: 18px;
            > a {
              color:#fff;
            }
            .fa-chevron-right {
              color:#fff;
            }
          }
        }
        .right {
          .event-close-icon {
            padding: 10px;
            position: absolute;
            top: calc(50% - 20px);
            right: 10px;
            .fa-times {
              color: #B3D5F2;
              font-size: 25px;
            }
          }
        }
      }
    }
    */
  }
  .fp-controlArrow {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -28px;
    width: 30px;
    height: 57px;
    opacity: .5;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(0deg);
    border-width: 0;
    border-color: 0;
  }
  .fp-controlArrow {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -35px;
    width: 34px;
    height: 70px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(0deg);
    border-width: 0;
    border-color: 0;
    &.fp-prev {
      background: url(https://static.hiworks.com/www/static/images/www.hiworks.com/common/ico_swiper_arrow.svg) no-repeat 0 0;
      transform: rotate(180deg);
    }
    &.fp-next {
      background: url(https://static.hiworks.com/www/static/images/www.hiworks.com/common/ico_swiper_arrow.svg) no-repeat 0 0;
    }
  }
  //! 메인 슬로건 애니메이션
  [data-anchor="hiworks"] {
    &.load {
      .slogan {
        opacity: 1;
        transform: translateY(-60px);
      }
    }
  }
}
//! 1024 ~ 1199(아이패드 가로)
@include respond-below(lg) {
  .index {
    .main-section {
      .event-wrap {
        padding: 21px 0;
        .rwd-container {
          .hour52-svg {
            margin-right: 9px;
            // display: none !important;
          }
          .left {
            padding: 0;
            left: 0;
            display: inline-block;
          }
          .right {
            .event-close-icon {
              display: none;
            }
          }
        }
      }
      .slogan {
        text-align: center;
        padding: 0;
      }
      .sub-title {
        font-size: 24px;
        margin-left: 0;
      }
      .main-title {
        font-size: 64px;
      }
    }
  }
}
//! 768 ~ 1023(아이패드 세로)
@include respond-below(md) {
  .index {
    .floating-download-button {
      display: none;
    }
    .main-section {
      .slogan {
        text-align: center;
        .sub-title {
          font-size: 24px;
        }
        .main-title {
          font-size: 48px;
          letter-spacing: -1px;
        }
      }
      .event-wrap {
        .rwd-container {
          .left {
            left: 25px;
            .main-slogan {
              font-size: 24px;
            }
            .sub-slogan {
              font-size: 16px;
            }
          }
        }
      }
      .fp-controlArrow {
        display: none;
      }
    }
  }
}
//! 0 ~ 767(모바일)
@include respond-below(sm) {
  .index {
    .main-section {
      .slogan {
        .sub-title {
          font-size: 16px;
        }
        .main-title {
          font-size: 34px;
          letter-spacing: -1px;
        }
      }
      //! 띠 배너(이벤트)
      .event-wrap {
        min-height: auto;
        max-height: initial;
        padding: 21px 0;
        .rwd-container {
          padding: 0 14px;
          .slogan-wrap {
            float: left;
            width: calc(100% - 100px);
            padding: 9px 0 9px 9px;
          }
          .left {
            .hour52-svg {
              width: 100px;
              height: 60px;
            }
            .main-slogan {
              width: 100%;
              margin: 0 auto;
              font-size: 16px;
            }
            .sub-slogan {
              padding-top: 3px;
              font-size: 14px;
            }
          }
          .right {
            &:before {
                display: none;
            }
            float: none;
            .pill-button {
              margin-top: 10px;
              margin-right: 0;
            }
            .event-close-icon {
              display: none;
            }
          }
        }
      }
    }
  }
}
//! scroll indicator
.scroll-indicator {
  position: fixed;
  bottom: 50px;
  left: 50%;
  z-index: 1;
  margin-left: -29.5px;
  animation: ani-scroll-indicator 1s infinite alternate;
}
@keyframes ani-scroll-indicator {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0, 25px);
  }
}
//! 0 ~ 767(모바일)
@include respond-below(sm) {
    .scroll-indicator {
        display: none !important;
    }
}
.index .main-section {
  //광고모델 이름
  .model-name {
    z-index: 100;
    position: absolute;
    right: 14px;
    bottom: 140px;
    width: 100%;
    text-align: right;
    @include respond-above(sm) {
      bottom: 160px;
    }
    @include respond-above(md) {
      bottom: 170px;
    }
    span {
      display: inline-block;
      padding: 5px;
      background-color: #000;
      background-color: rgba( 0, 0, 0, 0.3 );
      font-size: .750rem;
      font-weight: bold;
      color: #fff;
      @include respond-above(md) {
        background-color: #fff;
        background-color: rgba( 255, 255, 255, 0.3 );
        color: #000;
      }
    }
  }
  .event-wrap {
    padding: 21px 14px;
    @include respond-above(sm) {
      padding: 20px 37px;
    }
    .rwd-container {
      padding: 0;
      .video-thumb {
        float: left;
        width: 100px;
        height: 60px;
        background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/ad_200416/index/ad_thumb.png') no-repeat 0 0;
        background-size: 100px 60px;
        cursor: pointer;
        @include respond-above(sm) {
          width: 160px;
          height: 100px;
          background-size: 160px 100px;
        }
      }
      .slogan-wrap {
        float: left;
        width: calc(100% - 100px);
        padding: 9px 0 9px 9px;
        @include respond-above(sm) {
          width: calc(100% - 160px);
          padding: 23px;
        }
        @include respond-above(md) {
          padding: 17px 34px;
        }
      }
      .left {
        .sub-slogan {
          padding-top: 3px;
        }
      }
    }
  }
}