.index {
  .offer-section {
    background: #F6F6F6;
    text-align: center;
    // padding: 50px 0;
    * {
      color: #676767;
    }

    // ~ 767
    @include respond-below(md) {
      padding: 50px 0;
    }
    // 1024~
    @include respond-above(md) {
      background: linear-gradient(90deg, #F6F6F6 50%, #fff 50%);
      text-align: left;
    }

    .flex-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      // 1024~
      @include respond-above(md) {
        align-items: flex-start;
        margin-right: 5%;
      }
    }

    .title, .caption {
      color: #333;
    }

    .btn-half-radius {
    //   border-radius: 30px;
    //   border: 1px solid #C1C1C1;
    //   font-size: 16px;
    //   padding: 1em 2.5em;
    //   color: #676767;
	  // display: block;
    //   &:hover {
    //     background-color: #F2F2F2;
		// border-color: #BCBCBC;
    //   }
    }

    //remove unnecessary space
    .title, .caption, .copy,
    .owl-custom-dot + div {
      @include cropLineHeight();
    }
    // order each flex-children and define its spaces.
    // ~ 767
    @include respond-below(sm) {
      .title {
		-ms-order: 1;
        order: 1;
        font-size: 24px;
        margin-bottom: 40px;
      }
      .caption {
		-ms-order: 2;
        order: 2;
        font-size: 18px;
        margin-bottom: 10px;
      }
      .copy {
		-ms-order: 3;
        order: 3;
        font-size: 16px;
        margin-bottom: 20px;
      }
      .btn-half-radius {
		-ms-order: 4;
        order: 4;
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
    // 768 ~
      @include respond-above(sm) {
      .title {
		-ms-order: 1;
        order: 1;
        font-size: 35px;
        margin-bottom: 50px;
      }
      .owl-custom-dots {
		-ms-order: 2;
        order: 2;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 30px;
        margin-bottom: 40px;
      }
      .caption {
		-ms-order: 3;
        order: 3;
        font-size: 22px;
        margin-bottom: 10px;
      }
      .copy {
		-ms-order: 4;
        order: 4;
        font-size: 21px;
        margin-bottom: 20px;
      }
      .btn-half-radius {
		-ms-order: 5;
        order: 5;
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
    // 1024~
    @include respond-above(md) {
      .title {
		  -ms-order: 1;
        order: 1;
        font-size: 36px;
      }
      .caption {
		  -ms-order: 2;
        order: 2;
        font-size: 22px;
      }
      .copy {
		  -ms-order: 3;
        order: 3;
        font-size: 18px;
      }
      .owl-custom-dots {
		  -ms-order: 4;
        order: 4;
        border-top: 1px solid #E5E5E5;
        border-bottom: 0;
		padding: 20px 0 50px;
		margin-bottom: 0;
      }
      .btn-half-radius {
		  -ms-order: 5;
        order: 5;
        margin-bottom: 0;
      }
    }
    // 1200 ~
    @include respond-above(lg) {
      .title {
        font-size: 42px;
      }
      .caption {
        font-size: 24px;
      }
      .copy {
        font-size: 18px;
      }
      .owl-custom-dots {
        padding-top: 40px;
      }
    }

    // slider navigation(768~ )
    .owl-custom-dots {
      // ~ 767
      @include respond-below(sm) {
        display: none;
      }

      // 768 ~
      @include clearfix();
        width: 100%;

      > div {
        float: left;
        text-align: center;
        cursor: pointer;
        // 768 ~ 1023
        @include respond-between(sm, md) {
          width: 10%;
        }
        // 1024 ~
        @include respond-above(md) {
          width: 20%;
          &:nth-child(5) ~ div {
            margin-top: 30px;
          }
        }

        .owl-custom-dot {
          border-radius: 50%;
          outline: none;
          position: relative;

          // icons
          @each $iconName in ('mail', 'approval', 'mobile', 'talk', 'addr', 'board', 'schedule', 'hr', 'booking', 'tax') {
            &.#{$iconName} {
                &:after {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url('https://static.hiworks.com/www/static/images/www.hiworks.com/index/feature_#{$iconName}.svg');
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }

          // white circle
          &:before {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: #fff;
            transform: scale(0);
            transition: all 0.15s;
          }
          & + div {
            outline: none;
            padding-top: 12px;
            transition: all 0.2s;
          }

          // 768 ~ 1024
          @include respond-between(sm, md) {
            width: 60px;
            height: 60px;
            &:after {
              background-size: 38px;
            }
          }
          // 1024 ~
          @include respond-above(md) {
            $cellSize: 90px;
            width: $cellSize;
            height: $cellSize;
            &:after {
              background-size: 48px;

            }
            & + div {
              font-size: 18px;
            }
          }
          // 1200 ~
          @include respond-above(lg) {
            $cellSize: 110px;
            width: $cellSize;
            height: $cellSize;
          }
        }

        &:hover .owl-custom-dot,
        &.active .owl-custom-dot {
          box-shadow: 0px 12px 21px #0000000D;
          // zoom white circle
          &:before {
            transform: scale(1);
          }
        }
        &.active .owl-custom-dot + div {
            font-weight: 600;
            color: #2F58B8;
        }
      }

    }
  }

 // slider(768 ~)
 .offer-list {
	 display: flex;
	 justify-content: center;
	 align-items: center;

   // ~ 767
   @include respond-below(sm) {
	   display: none;
	 // 썸네일 배경 이미지
	 background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/index/offer_m_bg.png') no-repeat 0 1em/100% 80%;
	 position: relative;
	 &:after {
	   content: '';
	   position: absolute;
	   top: 1em;
	   bottom: 10%;
	   left: 0;
	   right: 0;
	   display: block;
	   background-color: rgba(0, 0, 0, 0.2);
	   box-shadow: 0 22px 20px 5px rgba(#676767, 0.2);
	 }
   }
  // 768 ~ 1023
  @include respond-between(sm, md) {
	background: #fff;
	margin: 0 -20px;
	padding: 40px 0;
  }

  // 1024 ~
  @include respond-above(md) {
	  height: 653px;
  }
  // 1024 ~ 1199
  @include respond-between(md, lg) {
	justify-content: flex-end;
  }

  .offer-list-item {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
	&:not(:first-of-type) {
		display: none;
	}

	// 1024 ~ 1199
	@include respond-between(md, lg) {
	  text-align: right;
	  justify-content: flex-end;
	}
  }

  .video-wrap {
	  width: 80%;
	  // ~ 767
	  @include respond-below(sm) {
		  video {
			  display: none;
		  }
		  .thumb {
			  display: block;

			  > img {
				  width: 100%;
				  height: auto;
			  }
		  }
	  }
	  // 768 ~
	  @include respond-above(sm) {
		  .thumb {
			  display: none;
		  }
	  }
	  // 1024 ~ 1199
	  @include respond-between(md, lg) {
		  justify-content: center;
	  }
	  // 1200 ~
	  @include respond-above(lg) {
		  justify-content: flex-end;
	  }
	  video {
		  background-color: #fff;
		  max-width: 100%;
		  max-height: 50vh;
		  box-shadow: -1em 1em 2em rgba(#676767, 0.25);
	  }
  }

 }


// slider(~ 767)
 .offer-carousel {
	 // 768 ~
	 @include respond-above(sm) {
		 display: none;
	 }
	  // ~ 767
	  @include respond-below(sm) {
		// 썸네일 배경 이미지
		background: url('https://static.hiworks.com/www/static/images/www.hiworks.com/index/offer_m_bg.png') no-repeat 0 1em/100% 80%;
		position: relative;
		&:after {
		  content: '';
		  position: absolute;
		  top: 1em;
		  bottom: 10%;
		  left: 0;
		  right: 0;
		  display: block;
		  background-color: rgba(0, 0, 0, 0.2);
		  box-shadow: 0 22px 20px 5px rgba(#676767, 0.2);
		}
	  }

	  .owl-stage {
		display: flex;
		align-items: center;
	  }

	  .owl-item {
		display: flex;
		justify-content: center;

		.thumb {
			width: 80%;
			text-align: center;
			> img {
				width: 100%;
				height: auto;
			}
		}
    }

    .owl-dots {
      margin-top: 0;
      position: relative;
      bottom: -20px;
    }
    button.owl-dot {
      outline: none;
      span {
        margin: 0 5px;
        border: 1px solid #B2B2B2;
        background-color: transparent;
      }
      &:hover span,
      &.active span {
        border: 0;
        background-color: #2F58B8;
      }
    }
  }

}
