/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: 0 none; }

dl, ul, ol, menu, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

input, select, textarea, button {
  vertical-align: middle; }

input[type='text'], input[type='password'] {
  -webkit-appearance: none;
  border-radius: 0; }

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer; }

body {
  background: #fff; }

body, th, td, input, select, textarea, button {
  font-size: 18px;
  line-height: 1.5;
  font-family: Apple Gothic,"Malgun Gothic",dotum,"Arial", sans-serif;
  color: #333; }

a {
  color: #333;
  text-decoration: none; }

a:active, a:hover {
  text-decoration: none; }

caption {
  visibility: hidden;
  overflow: hidden;
  width: 1px;
  height: 0;
  font-size: 0;
  line-height: 0; }

address, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.rwd-row:before, .rwd-row:after {
  display: block;
  content: "";
  clear: both; }

.rwd-row .rwd-col {
  float: left;
  width: 100%; }

@media (max-width: 767px) {
  .rwd-row .rwd-sm-1 {
    width: 8.33333%; }
  .rwd-row .rwd-sm-2 {
    width: 16.66666%; }
  .rwd-row .rwd-sm-3 {
    width: 24.99999%; }
  .rwd-row .rwd-sm-4 {
    width: 33.33333%; }
  .rwd-row .rwd-sm-5 {
    width: 41.66666%; }
  .rwd-row .rwd-sm-6 {
    width: 49.99999%; }
  .rwd-row .rwd-sm-7 {
    width: 58.33333%; }
  .rwd-row .rwd-sm-8 {
    width: 66.66666%; }
  .rwd-row .rwd-sm-9 {
    width: 74.99999%; }
  .rwd-row .rwd-sm-10 {
    width: 83.33333%; }
  .rwd-row .rwd-sm-11 {
    width: 91.66666%; }
  .rwd-row .rwd-sm-12 {
    width: 99.99999%; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .rwd-row .rwd-md-1 {
    width: 8.33333%; }
  .rwd-row .rwd-md-2 {
    width: 16.66666%; }
  .rwd-row .rwd-md-3 {
    width: 24.99999%; }
  .rwd-row .rwd-md-4 {
    width: 33.33333%; }
  .rwd-row .rwd-md-5 {
    width: 41.66666%; }
  .rwd-row .rwd-md-6 {
    width: 49.99999%; }
  .rwd-row .rwd-md-7 {
    width: 58.33333%; }
  .rwd-row .rwd-md-8 {
    width: 66.66666%; }
  .rwd-row .rwd-md-9 {
    width: 74.99999%; }
  .rwd-row .rwd-md-10 {
    width: 83.33333%; }
  .rwd-row .rwd-md-11 {
    width: 91.66666%; }
  .rwd-row .rwd-md-12 {
    width: 99.99999%; } }

@media (min-width: 1024px) {
  .rwd-row .rwd-lg-1 {
    width: 8.33333%; }
  .rwd-row .rwd-lg-2 {
    width: 16.66666%; }
  .rwd-row .rwd-lg-3 {
    width: 24.99999%; }
  .rwd-row .rwd-lg-4 {
    width: 33.33333%; }
  .rwd-row .rwd-lg-5 {
    width: 41.66666%; }
  .rwd-row .rwd-lg-6 {
    width: 49.99999%; }
  .rwd-row .rwd-lg-7 {
    width: 58.33333%; }
  .rwd-row .rwd-lg-8 {
    width: 66.66666%; }
  .rwd-row .rwd-lg-9 {
    width: 74.99999%; }
  .rwd-row .rwd-lg-10 {
    width: 83.33333%; }
  .rwd-row .rwd-lg-11 {
    width: 91.66666%; }
  .rwd-row .rwd-lg-12 {
    width: 99.99999%; } }

header {
  position: fixed;
  left: 0;
  right: 0;
  height: 64px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 2000; }
  header .rwd-container {
    height: 64px;
    text-align: center; }
  header .logo {
    position: absolute;
    left: 20px;
    top: 10px;
    margin: 7px 0; }
    header .logo .logo-img {
      display: block; }
  header .gnb {
    display: inline-block; }
    header .gnb .gnb-list {
      height: 64px;
      overflow: hidden; }
      header .gnb .gnb-list .item {
        float: left; }
        header .gnb .gnb-list .item .link {
          display: block;
          padding: 0 20px;
          line-height: 64px; }
          header .gnb .gnb-list .item .link:hover {
            color: red; }
      header .gnb .gnb-list:before, header .gnb .gnb-list:after {
        display: block;
        content: "";
        clear: both; }
  header .open-drawer-nav {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 10px; }
    header .open-drawer-nav .hamburger {
      display: block; }

@media (max-width: 1023px) {
  header .gnb {
    display: none; } }

* {
  margin: 0;
  padding: 0; }

.wrap {
  position: relative;
  width: 100%;
  overflow: hidden; }

.rwd-container {
  position: relative;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background: red; }

@media (max-width: 1479px) {
  .rwd-container {
    max-width: 100%;
    background: purple; } }

@media (max-width: 1199px) {
  .rwd-container {
    max-width: 100%;
    background: brown; } }

@media (max-width: 1023px) {
  .rwd-container {
    max-width: 100%;
    background: blue; } }

@media (max-width: 767px) {
  .rwd-container {
    max-width: 100%;
    background: skyblue; } }

.section1 .box {
  height: 100px;
  margin: 0 5px; }

.section2 .box {
  height: 100px;
  margin: 0 10px; }

.section3 .box {
  height: 100px;
  margin: 0 15px; }

.section4 .box {
  height: 100px;
  margin: 0 20px; }

.visual {
  position: relative;
  width: 100%;
  height: 300px;
  background: url(http://www.dkgholdings.co.kr/images/contents/sub2_visual.png) center center/cover no-repeat; }
  .visual .slogan {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }
    .visual .slogan .main-slogan {
      font-size: 50px;
      word-break: keep-all; }
    .visual .slogan .sub-slogan {
      margin-top: 10px;
      word-break: keep-all; }
