.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* 모바일 주소창 이슈 대응하려면 100dvh 추천 */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
}

.modal-content {
  position: fixed;
  /* JavaScript로 동적으로 위치 조정 */
}

.hw-modal-wrap {
  padding: 25px;
  border: 1px solid #707070;
  background: #fff;
  color: #333;
  box-sizing: border-box;
}

.hw-modal-wrap *,
.hw-modal-wrap *:before,
.hw-modal-wrap *:after {
  box-sizing: inherit;
}

.hw-modal-wrap.size-esm {
  width: 400px;
}

.hw-modal-wrap.size-sm {
  width: 500px;
}

.hw-modal-wrap.size-md {
  width: 600px;
}

.hw-modal-wrap.size-lg {
  width: 700px;
}

.hw-modal-wrap.size-xs {
  width: 800px;
}

.hw-modal-wrap.size-xm {
  width: 850px;
}

.hw-modal-wrap.size-xl {
  width: 1000px;
}

.hw-modal-wrap .gt-list-dot > li:before {
  color: #909090;
}

/* 오른쪽 상단 닫기(X) 버튼 */
.hw-modal-wrap .btn-close-top-right {
  position: absolute;
  right: 25px;
  top: 20px;
}

.hw-modal-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
  font-size: 16px;
}

.hw-modal-body {
  padding-top: 20px;
  font-size: 14px;
  max-height: 580px;
  overflow-y: auto;
}

.hw-modal-body .usage-explain {
  line-height: 1.8;
  letter-spacing: -0.21px;
}

.hw-modal-body .file-upload-success-explain {
  color: #2985db;
  font-size: 12px;
  margin-top: 5px;
}

.hw-modal-body .checkbox-float-ul li {
  float: left;
  width: 90px;
}

.hw-modal-body .checkbox-float-ul li input {
  margin-right: 5px;
}

.hw-modal-div-table .gt-d-table + .gt-d-table {
  margin-top: 12px;
}

.hw-modal-div-table .gt-d-table-cell {
  vertical-align: middle;
}

.hw-modal-div-table .gt-d-table-cell:first-child {
  width: 20%;
}

.hw-modal-footer {
  padding-top: 30px;
  text-align: center;
}

/* 모달 내부 기타 콘텐츠 */
.hw-modal-wrap.hr-migration .intro-img-div {
  border-radius: 4px;
  border: solid 1px #d6d6d6;
}

.hw-modal-wrap .hw-box-gray {
  padding: 20px;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hw-modal-wrap .hw-box-gray > * {
  max-width: 100%; /* ie bug fix */
}
