<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
{% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.url }}/" class="nav-title">
          <img src="{{ '/assets/logo.svg' | prepend: site.baseurl }}" alt="{{ site.title }}" class="nav-logo" />
        </a>
        <ul>
          <!-- <li><a href="{{ '/about' | prepend: site.url }}">About</a></li> -->
          <!-- <li><a href="{{ site.url }}/">Posts</a></li> -->
          <!-- <li><a href="{{ '/category#gtris' | prepend: site.url }}">Gtris</a></li> -->
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>© DY Kim</span>
    </footer>
  </body>
</html>
