---
layout: default
---

<div class="post">

  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-date">{{ page.date | date: "%Y. %m. %d" }}</p>
  <div class="post-line"></div>

  {{ content }}

  <div class="post-x-reply">
    <p>이 글이 유익하셨나요? X에서 생각을 나눠주세요.</p>
    <a href="https://x.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | prepend: site.url | url_encode }}" target="_blank" rel="noopener" class="x-reply-btn">
      X에서 반응 남기기
    </a>
  </div>

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">
    <img src="/img/bg_topbutton.png" class="arrow-from-top">
  </a>
</div>
