.single-bullet:before {
  display: inline;
  content: '\2022';
  color: inherit;
  font-family: auto;
  margin-right: 0.5em;
}

.list-dot {
  > li {
    display: table;
    width: 100%;
    text-align: left;
    &:before {
      display: table-cell;
      width: 15px;
      content: '\2022';
	  font-family: auto;
    }
  }
}

.list-bar {
  > li {
    display: table;
    width: 100%;
    text-align: left;
    font-family: auto;
    &:before {
      display: table-cell;
      width: 15px;
      content: '\002d';
    }
  }
}

.list-count {
  counter-reset: my-counter;
  > li {
    counter-increment: my-counter;
    display: table;
    width: 100%;
    text-align: left;
    &:before {
      content:  "0"counter(my-counter);
      display: table-cell;
      width: 15px;
      color: $primary-color;
      font-weight: 600;
      font-size: 1.1111em;
      padding-right: 1.1111em;
    }
  }
}
